.main-page {
    padding: 40px 30px;
    &__title {
        color: #3E3E3E;
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 0;
    }
    &__sections {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
}
.main-page-partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__partner {
        width: 25%;
        margin-bottom: 25px;
        &:nth-of-type(4n+4) {
            text-align: right;
        }
        &:last-of-type {
            width: 100%;
            text-align: center;
        }
        &--insurion img {
            top: -5px;
        }
    }
}

.main-page-section {
    position: relative;
    width: 245px;
    height: 200px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    cursor: pointer;
    

    &:hover {
        box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
        border-color: $white;
        & .main-page-section__content::after {
            height: 4px;
        }
    }

    &__content {
        height: 100%;
        padding-top: 125px;
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: -1px;
            width: calc(100% + 2px);
            height: 0;
            background-color: #fff;
            transition: 0.3s;
            border-radius: 0 0 4px 4px;
        }
    }
    &__content--travel {
        .main-page-section__img-desktop {
            top: 34px;
        }
        &::after {
            background-color: #fe8004
        }
    }
    &__content--realty {
        .main-page-section__img-desktop {
            top: 45px;
        }
        &::after {
            background-color: #92278f;
        }
    }

    &__title {
        text-align: center;
        color: #3E3E3E;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
    }
    &__img-desktop {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &__img-mobile {
        display: none;
    }
}