.main-loader {
    position: relative;
    width: 51px;
    height: 51px;

    i {
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 5px;
        border-radius: 3px;
        background-color: #F5D262;
        animation: main-loader 1s linear infinite;
    }
    .main-loader__1 {
        top: 6px;
        left: 17px;
        transform: rotate(90deg);
        animation-delay: -1s;
    }
    .main-loader__2 {
        top: 11px;
        left: 28px;
        transform: rotate(135deg);
        animation-delay: -0.875s;
    }
    .main-loader__3 {
        top: 22px;
        left: 33px;
        transform: rotate(0deg);
        animation-delay: -0.750s;
    }
    .main-loader__4 {
        top: 34px;
        left: 28px;
        transform: rotate(45deg);
        animation-delay: -0.625s;
    }
    .main-loader__5 {
        top: 39px;
        left: 16px;
        transform: rotate(90deg);
        animation-delay: -0.500s;
    }
    .main-loader__6 {
        top: 34px;
        left: 5px;
        transform: rotate(136deg);
        animation-delay: -0.375s;
    }
    .main-loader__7 {
        top: 23px;
        left: 0px;
        transform: rotate(0deg);
        animation-delay: -0.250s;
    }
    .main-loader__8 {
        top: 11px;
        left: 5px;
        transform: rotate(45deg);
        animation-delay: -0.125s;
    }
}   

@keyframes main-loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}