.selected-insurance {
    position: relative;
    padding-top: 25px;
    padding-bottom: 32px;
    border-bottom: 6px solid $yellow;
    background-color: $white;
    box-shadow: 0 5px 10px 0 rgba(54,57,60,0.1);
    
    &__back-btn {
        display: flex;
        align-items: center;
        margin-bottom: 39px;
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
        transition: all ease 0.2s;
        i {
            margin-right: 18px;
            font-size: 11px;
            color: $grey3;
            cursor: pointer;
            transition: all ease 0.2s;
        }

        &-text {
            cursor: pointer;
        }

        &:hover {
           color: $black;
           i {
                color: $grey5;
            }
        }
    }
    &__flex-wrap {
        display: flex;
        align-items: flex-start;
    }
    &__logo-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        align-self: stretch;
        margin-right: 100px; 
    }
    &__logo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 62px;       
        img {
            //width: 100%;
            height: 100%;
        }

        &--renins {
            img {
                width: 165px;
                height: 57px;
            }
        }
        &--alpha {
            img {
                width: 200px;
                height: 44px;
            }
        }
        &--guideh {
            img {
                width: 124px;
                height: 46px;
            }
        }
        &--soglasie {
            img {
                width: 185px;
                height: 40px;
            }
        }
        &--absolut {
            img {
                width: 200px;
                height: 46px;
            }
        }
        &--tinkoff {
            img {
                width: 184px;
                height: 60px;
            }
        }
        &--allianz {
            img {
                width: 180px;
                height: 48px;
            }
        }
        &--liberty {
            img {
                width: 134px;
                height: 62px;
            }
        }
        &--ingos {
            img {
                width: 184px;
                height: 62px;
            }
        }
        &--vtb {
            img {
                width: 200px;
                height: 70px;
            }
        }
        &--rgs {
            img {
                width: 185px;
                height: 21px;
            }
        }
        &--zetta {
            img {
                width: 153px;
                height: 54px;
            }
        }
        &--uralsib {
            img {
                width: 179px;
                height: 55px;
            }
        }
        &--insurion {
            img {
                width: 185px;
                height: 39px;
            }
        }
    }
    &__parameter-list {
        .expand-btn {
            margin-left: 200px;
        }
    }
    &__parameter-item {
       display: flex;
       width: 470px;
       margin-bottom: 8px;

       &:last-child {
           margin-bottom: 0;
       }
    }
    &__parameter-inner {
        flex-shrink: 0;
        width: 200px;
        padding-right: 30px;        
    }
    &__parameter-title {
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
    }
    &__parameter {
        color: #36393C;
        font-size: 16px;
        line-height: 22px;

        span {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }        
    }  
    &__parameter-sum {
        display: inline-block;
    }
    &__parameter--short {
        max-height: 45px;
        overflow-y: hidden
    }
    .uikit__price-btn {
        margin-left: auto;
    }
    & .expand-btn--expanded i {
        transform: none;
    }

    &__price-btn {
        display: flex;
        margin-left: auto;
        
		.price-formater {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			min-width: 110px;
			padding: 0 17px;
			border: 1px solid #E4EBF0;
			border-right: none;
			border-radius: 4px 0 0 4px;
		}
		.button {
			width: 220px;
			border-radius: 0 4px 4px 0;
		}
    }
}

.selected-insurance__details-btn {
    display: none;
}
.selected-insurance--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding-top: 32px;
    .selected-insurance__back-btn {
        display: none;
    } 
    .selected-insurance__parameter--countries-folded {
        display: inline-block;
        max-width: 470px;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .travel-order__warning {
        display: none;
    }
}

.selected-insurance--folded {
    padding-top: 33px;
    padding-bottom: 31px;

    //.selected-insurance__more
    .expand-btn {
        display: flex;
    }
    .selected-insurance__parameter-title,
    .selected-insurance__risks,
    .selected-insurance__special,
    .selected-insurance__special-more,
    .travel-order__warning {
        display: none;
    }
    .selected-insurance__parameter--countries {
        white-space: nowrap;
    } 

    .selected-insurance__logo-wrap {
        width: 300px;
        margin-right: 0;
        .expand-btn {
            display: flex;

            i {
                margin-left: 7px;
            }
        }
    }
    .selected-insurance__logo {
        width: 130px;
        height: 40px;
        margin-bottom: 16px;

        &--renins {
            img {
                width: 107px;
                height: 38px;
            }
        }
        &--alpha {
            img {
                width: 130px;
                height: 28px;
            }
        }
        &--guideh {
            img {
                width: 80px;
                height: 28px;
            }
        }
        &--soglasie {
            img {
                width: 120px;
                height: 25px;
            }
        }
        &--absolut {
            img {
                width: 130px;
                height: 29px;
            }
        }
        &--tinkoff {
            img {
                width: 119px;
                height: 38px;
            }
        }
        &--allianz {
            img {
                width: 117px;
                height: 30px;
            }
        }
        &--liberty {
            img {
                width: 87px;
                height: 40px;
            }
        }
        &--ingos {
            img {
                width: 119px;
                height: 37px;
            }
        }
        &--vtb {
            img {
                width: 200px;
                height: 70px;
            }
        }
        &--rgs {
            img {
                width: 120px;
                height: 13px;
            }
        }
        &--zetta {
            img {
                width: 99px;
                height: 34px;
            }
        }
        &--uralsib {
            img {
                width: 116px;
                height: 35px;
            }
        }
        &--insurion {
            img {
                width: 120px;
                height: 25px;
            }
        }
    }
    .selected-insurance__parameter-list {
        .expand-btn {
            display: none;
        }
    }
    .selected-insurance__parameter-item {
        margin-bottom: 0;
    }
    .selected-insurance__parameter-inner {
        display: none;
    }
}
.travel-order {
    &__travelers {
        padding-top: 48px;
        background-color: #FBFBFF;

        &--head-fixed {
            padding-top: 195px;
        }

        .container {
            background-color: #FBFBFF;
        }
    }
    &__header {
        color: #36393C;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    &__warning {
        width: 100%;
        height: 70px;
        margin-bottom: 40px;
        text-align: center;
        border: 1px solid $error;
        border-radius: 3px;
        box-shadow: 0 5px 10px 0 rgba(78,93,107,0.1);
        font-size: 16px;
        color: $error;
        line-height: 70px;
        & .icon-warning {
            position: relative;
            top: 2px;
            font-size: 18px;
            color: $error;
            margin-right: 20px;
        }
    }
    &__add-traveler {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        padding-bottom: 47px;
        font-weight: 300;
        border-bottom: 1px solid rgba(54,57,60,0.15);
        i {
            font-size: 33px;
            color: $blue;
        }
    }
    &__add-btn {
        position: relative;
        width: 155px;
        padding-left: 25px;
        margin-left: 10px;
        color: $dark;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 21px;
            left: -3px;
            content: '';
            width: 16px;
            height: 2px;
            background-color: $blue;
        }
        &::after {
            transform: rotate(90deg);
        }
    }
    &__options {
        display: flex;
        flex-wrap: wrap;
        margin-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(54,57,60,0.15);

        .risk-checkbox {
            margin-right: 30px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        &--disabled {
            .risk-checkbox {
                opacity: 0.5;
            }
        }
    }
    &__checkbox-wrap {
        display: flex;
        padding: 34px 0;

        .checkbox {
            flex-shrink: 0;
            margin-right: 30px;
        }
        .checkbox__label-wrapper {            
            align-items: flex-start;
            width: 470px;
        }
        .checkbox__flag {
            flex-shrink: 0;
        }
        .checkbox__label {
            color: $grey2;
            font-size: 16px;
            line-height: 22px;
        }
        .link {
            font-weight: 400;
        }
    }
    &__overlay {
        .main-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}