.travel-insurance {    
    //min-height: calc(100vh - 162px);
    background-color: #FBFBFF;
    &__lightblue-wrap {       
        background-color: #FBFBFF;
        .container {
            background-color: #FBFBFF;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 49px;
        padding-bottom: 31px;
        border-bottom: 1px solid #e1e1e2;

        .select {
            margin-right: auto;
        }
    }
    &__travelers {
        padding-top: 33px;
        padding-bottom: 56px;
    }
    &__travelers-header,
    &__slider-header {
        display: inline-block;
        margin-bottom: 23px;
        color: #afb0b1;
        font-size: 16px;
        line-height: 22px;
    }
    &__slider-header {
        margin-bottom: 32px;
    }
    &__inputs-wrap {
        display: flex;
    }
    &__add-tourist {
        position: relative;
        width: 155px;
        padding-top: 1px;
        padding-left: 25px;
        color: $dark;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 22px;
            left: 0;
            content: '';
            width: 16px;
            height: 2px;
            background-color: $blue;
        }
        &::after {
            transform: rotate(90deg);
        }
    }
    &__dates {
        width: 500px;
    }
    &__insurance-days-wrap {
        display: flex;
        align-items: flex-start;        
        margin-bottom: 25px;        
    }
    &__insurance-switcher {
        // иначе скачет в IE11
        height: 88px;
        .switcher {
            padding-left: 31px;
        }
        .switcher__option {
            width: auto;           
            height: 56px;
            margin-right: 24px;
            padding-bottom: 5px;
            color: $grey2;
            font-size: 32px;
            transition: color ease 0.2s;
            &::after {
                display: none;
            }
        }
        .switcher__option--active {
            color: $blue;
        }
        .switcher__active-block {
            display: none;
        }
    }
    &__switcher-label {
        display: block;
        padding-left: 32px;
        margin-bottom: 11px;
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
    }
    &__country-select {
        margin-right: auto;
        margin-top: 1px;
    }
    &__days {
        height: 56px;
    }
    &__slider-wrap {
        position: relative;
        padding-top: 41px;
        padding-bottom: 79px;
        background-color: #FFFFFF;
        box-shadow: 0 0 2px 0 rgba(54,57,60,0.2);
        z-index: 5;
    }
    &__slider {        
        .slick-slider {
            display: flex;
            align-items: center;
           // height: 40px;
        }
    }
    &__slide {
        display: inline-block;
        width: 100%;        

        img {
            height: 100%;
            margin: 0;
        }

        &--renessans {
            img {
                width: 107px;
                height: 38px;
            }
        }
        &--alpha {
            img {
                width: 130px;
                height: 28px;
            }
        }
        &--guide {
            img {
                width: 80px;
                height: 28px;
            }
        }
        &--compliance {
            img {
                width: 120px;
                height: 25px;
            }
        }
        &--absolut {
            img {
                width: 130px;
                height: 29px;
            }
        }
        &--tinkoff {
            img {
                width: 119px;
                height: 38px;
            }
        }
        &--liberty {
            img {
                width: 87px;
                height: 40px;
            }
        }
        &--alliance {
            img {
                width: 117px;
                height: 30px;
            }
        }
        &--uralsib {
            img {
                width: 116px;
                height: 35px;
            }
        }
        &--rosgosstrakh {
            img {
                width: 120px;
                height: 13px;
            }
        }
        &--insurion {
            img {
                width: 120px;
                height: 25px;
            }
        }
        &--ingosstrakh {
            img {
                width: 119px;
                height: 37px;
            }
        }
        &--vtb {
            img {
                width: 175px;
                height: 63px;
            }
        }
        &--zetta {
            img {
                width: 99px;
                height: 34px;
            }
        }
    }
    &__insurance-btn {
        //position: fixed;
        //left: 0;
        //right: 0;
        //bottom: 16px;
        //width: 1170px;
        z-index: 10;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    &__overlay {
        .main-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}