@import "../../../styles/_variables.scss";

.range-datepicker {
	width: 400px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 10px 0 rgba(54,57,60,0.15);

	&__tabs {
		position: relative;
		display: flex;
		width: 100%;
		background: #fff;

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: '';
			height: 2px;
			width: 200px;
			background-color: $blue;
			transition: all ease 0.2s;
		}

		&--to {
			&::before {
				left: 200px;
			}
		}
	}
	&__tab {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding: 16px 24px;
		color: $disabled;
		font-family: "Segoe UI";
		font-size: 20px;
		line-height: 30px;
		border-bottom: 2px solid #E4EBF0;
		transition: all ease 0.2s;
		cursor: pointer;

		&--active {
			color: $black;
		}
	}

	.datepicker {
		border: none;
	}

	&__calendar {
		padding-top: 0;

		.rdt {
			display: none;
		}
		&--visible {
			
			.rdt {
				display: block;
				width: 100%;
				padding-top: 20px;
				padding-bottom: 0;
			}
		}
	}

	.rdtDays {
		table:nth-child(1) {
			display: block;
			thead {
				display: flex;
				justify-content: center;
				height: 26px;

				tr {
					display: flex;
					align-items: center;					
				}
			}
		}
		table:nth-child(2) {
			display: block;
			padding: 16px 24px;
			thead {
				display: flex;
				margin-bottom: 16px;

				tr {
					display: flex;
					justify-content: space-between;
					width: 100%;
					
					.dow {
						display: block;
						width: 42px;
						height: 25px;
						margin: 0;
						color: rgba(54,57,60,0.4);
						font-size: 16px;
						font-weight: 400;
						line-height: 22px;
						text-align: center;
						text-transform: capitalize;
					}
				}
				
			}
			tbody {
				display: block;
				tr {
					display: flex;
					justify-content: space-between;
					width: 100%;
					margin-bottom: 12px;					
				}
			}
		}
	}
}

.rdtPrev,
.rdtNext {
	position: relative;
	background: none;
	line-height: normal;
	width: 26px;
	height: 26px;
	background-color: transparent;
	cursor: pointer;
}
.rdtPrev {
	&::before,
	&::after {
		position: absolute;
		content: '';
		top: 14px;
		left: 8px;
		width: 8px;
		height: 2px;
		background-color: #9A9C9D;
		transform: rotate(45deg);
	}
	&:after {
		top: 10px;
		transform: rotate(-45deg);
	}
}
.rdtNext {
	&::before,
	&::after {
		position: absolute;
		content: '';
		top: 10px;
		left: 10px;
		width: 8px;
		height: 2px;
		background-color: #9A9C9D;
		transform: rotate(45deg);
	}
	&:after {
		top: 14px;
		transform: rotate(-45deg);
	}
}
.rdtSwitch {
	height: 22px;
	margin: 0 10px;
	color: $black;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
}
.rdtDayWrapper {
	display: flex;
	align-items: center;
	width: 42px;
	height: 25px;	

	.rdtDay{
		width: 100%;
		height: 100%;
		margin: 0;
		color: $black;
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		border-radius: 4px;
		cursor: pointer;

		&:hover {
		 	background-color: $disabled;
		 	color: $black;
		}
	}
	.rdtDisabled {		
		cursor: default;
		color: $disabled;
		&:hover {
			color: $disabled;
			background-color: transparent;
		}
	}
	.rdtToday {
		background-color: $disabled;
		color: $black;
		cursor: pointer;

		&:hover {
			background-color: $disabled;
			color: $black;
		}
	}
	.rdtOld  {
		opacity: 1;
		color: $disabled;
		cursor: default;		
		&:hover {
			background-color: transparent;
			color: $disabled;
		}
	}	
	.rdtNew {
		color: rgba(54,57,60,0.6);
		cursor: pointer;
	}
}
.rdtActive {
	.rdtDay {
		background-color: $blue;
		color: $white;

		&:hover,
		&:active {
			background-color: $blue;
			color: $white;
		}
	}	
}
.rdtRange {
	.rdtDay {
		background-color: $blue;
		color: $white;

		&:hover,
		&:active {
			background-color: $blue;
			color: $white;
		}
	}
	.rdtOld {
		color: $disabled;
		background-color: transparent;
		cursor: default;
		&:hover {
			color: $disabled;
			background-color: transparent;
		}
		&::before {
			background-color: transparent;
		}
	}
}

.rdtRange + .rdtRange,
.rdtActive + .rdtRange,
.rdtRange + .rdtActive {
	.rdtDay {
		position: relative;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: -14px;
			width: 18px;
			height: 25px;
			background-color: $blue;
		}
	}
	.rdtOld {
		background-color: transparent;
		cursor: default;
		color: $disabled;
		&:hover {
			background-color: transparent;
		}
		&::before {
			background-color: transparent;
		}
	}
}

.range-datepicker__calendar {
	&::before,
	&::after {
		display: none;
	}
}