@import '~styles/_variables.scss';

.checkbox {
    display: inline-block;
    vertical-align: top;
    &__flag {
        // display: inline-block;
        // vertical-align: middle;
        // flex-grow: 1;
        height: 20px;
        width: 20px;
        border: 2px solid #0084FB;
        border-radius: 3px;
        transition: 0.3s;
        cursor: pointer;

        &--disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &--error {
            border-color: $error;
        }

        &--checked {
            position: relative;
            background: $blue;
            border: 2px solid #0084FB;
            cursor: pointer;

            &::before,
            &::after {                
                position: absolute;
                content: '';
                top: 6px;
                left: 3px;
                width: 2px;
                height: 8px;
                background-color: $white;
                transform: rotate(-45deg);
            }

            &::after {
                top: 1px;
                left: 10px;
                height: 13px;
                transform: rotate(45deg);
            }
        }        
    }

    &__label {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        color: #36393C;
        font-size: 16px;
        line-height: 22px;
        cursor: pointer;            
    }

    &__input {
        display: none;
    }

    &__label-wrapper{
        white-space: normal;

        display: flex;
        align-items: center;
        &:focus{
            outline: none;
        }
    }

    &--error {
        .checkbox__flag {
            border-color: $error;
        }
        .checkbox__label {
            color: $error;
        }
    }
    &--disabled {
        .checkbox__flag {
            border-color: $disabled;
        }
        .checkbox__label {
            color: $disabled;
        }
    }
}
