.loader {
    position: relative;
    width: 28px;
    height: 28px;

    i {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 4px;
        border-radius: 2px;
        background-color: #F5D262;
        animation: loader 1s linear infinite;
    }
    .loader__1 {
        top: 3px;
        left: 9px;
        transform: rotate(90deg);
        animation-delay: -1s;
    }
    .loader__2 {
        top: 6px;
        left: 15px;
        transform: rotate(135deg);
        animation-delay: -0.875s;
    }
    .loader__3 {
        top: 12px;
        left: 18px;
        transform: rotate(0deg);
        animation-delay: -0.750s;
    }
    .loader__4 {
        top: 18px;
        left: 15px;
        transform: rotate(45deg);
        animation-delay: -0.625s;
    }
    .loader__5 {
        top: 21px;
        left: 9px;
        transform: rotate(90deg);
        animation-delay: -0.500s;
    }
    .loader__6 {
        top: 18px;
        left: 3px;
        transform: rotate(136deg);
        animation-delay: -0.375s;
    }
    .loader__7 {
        top: 12px;
        left: 0px;
        transform: rotate(0deg);
        animation-delay: -0.250s;
    }
    .loader__8 {
        top: 6px;
        left: 3px;
        transform: rotate(45deg);
        animation-delay: -0.125s;
    }
}   

@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}