.radio {
    & > input {
        display: none;
    }
    &__item {
        cursor: pointer;
        display: flex;
    }
    &__flag {
        width: 14px;
        height: 14px;
        border: 1px solid #0091ff;
        background: none;
        border-radius: 50%;
        transition: 0.1s;
        margin-right: 10px;
    }
    &--checked &__flag {
        border-width: 4px;
    }
}