@import '~styles/_variables.scss';

.uikit {
	margin: 0 auto;
	padding: 30px 20px;
	&__group {
		margin-bottom: 100px;
	}
	&__group-title {
		margin-bottom: 30px;
		font-size: 16px;
		color: #36393C;
	}
	&__group-subtitle {
		margin-bottom: 30px;
		font-size: 16px;
		color: $dark;
	}
	&__group-flex {
		display: flex;
		.uikit__group {
			flex-basis: 270px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 220px;
			margin-right: 30px;
		}
	}
	&__group-flex-jcc {
		display: flex;
		justify-content: center;
		.uikit__group {
			flex-basis: 270px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 220px;
			margin-right: 30px;
		}
	}
	&__price-btn {
		display: flex;
		.price-formater {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			min-width: 110px;
			padding: 0 17px;
			border: 1px solid #E4EBF0;
			border-right: none;
			border-radius: 4px 0 0 4px;
		}
		.button {
			width: 220px;
			border-radius: 0 4px 4px 0;
		}
	}
	&__row {
		margin-bottom: 30px;
	}
	&__colors {
		display: flex;
	}
	&__color {
		width: 60px;
		height: 60px;
		margin-right: 30px;
		border-radius: 50%;
	}
	&__color--blue {
		background-color: $blue;
	}
	&__color--yellow {
		background-color: $yellow;
	}
	&__color--black {
		background-color: $black;
	}
	&__color--dark {
		background-color: $dark;
	}
	&__color--grey {
		background-color: $grey;
	}
	&__color--lightgrey {
		background-color: $lightgrey;
	}
	&__color--error {
		background-color: $error;
	}
	&__options {
		display: flex;
		flex-wrap: wrap;
		.risk-checkbox {
			margin-right: 30px;
			margin-bottom: 30px;
		}
		.risk-checkbox:nth-child(4n) {
			margin-right: 0;
		}
	}
}

.mb-74 {
	margin-bottom: 74px;
}

.link {
	color: #0084FB;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	transition: all ease 0.2s;

	&:hover {
		color: #0071D6;
	}
}