@import '~styles/variables';

.faq {
    background-color: #FBFBFF;
    .container {
        padding-top: 24px;
        padding-bottom: 88px;
        background-color: #FBFBFF;
    }
    &__back-btn {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
        transition: all ease 0.2s;
        i {
            margin-right: 18px;
            font-size: 11px;
            color: $grey3;
            cursor: pointer;
            transition: all ease 0.2s;
        }

        &-text {
            cursor: pointer;
        }

        &:hover {
           color: $black;
           i {
                color: $grey5;
            }
        }
    }

    &__top-wrap {
        position: relative;

        .icon-support {
            position: absolute;
            top: 24px;
            right: 0;
			font-size: 24px;
			color: $blue; 
		}
    }
}