.country-block {
    display: flex;
    align-items: center;

    &__flag {
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 8px;
        background-color: lightgrey;
    }
    &__name {
        color: #36393C;
        font-size: 16px;
        line-height: 22px;
    }
}