.unavailable {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    // height: 100vh;

    &__message {
        font-size: 28px;
    }
}