@import '~styles/_variables.scss';

.result-block {
    width: 870px;
    margin-bottom: 16px;
    border-radius: 4px;
    
    &__main {
        position: relative;
        z-index: 5;
        display: flex;        
        height: 132px;        
        padding: 32px 24px 16px 32px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2);
        transition: box-shadow ease 0.2s;

        &:hover {
            box-shadow: 0 6px 10px 0 rgba(54,57,60,0.15);
        }

        .price-formater__whole,
        .price-formater__currency {
            color: #36393C;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
        .price-formater__decimal {
            padding-top: 2px;
            color: #36393C;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        .rouble {
            font-weight: 400;
        }

        .button {
            width: 128px;
            margin-left: auto;
            margin-top: 10px;
            font-size: 16px;
        }
    }       
    &__logo-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 38px;
    }
    &__logo{
        display: flex;
        align-items: center;
        width: 130px;
        height: 40px;

        img {
            height: 100%;
        }

        &--renins {
            img {
                width: 107px;
                height: 38px;
            }
        }
        &--alpha {
            img {
                width: 130px;
                height: 28px;
            }
        }
        &--guideh {
            img {
                width: 80px;
                height: 28px;
            }
        }
        &--soglasie {
            img {
                width: 120px;
                height: 25px;
            }
        }
        &--absolut {
            img {
                width: 130px;
                height: 29px;
            }
        }
        &--tinkoff {
            img {
                width: 119px;
                height: 38px;
            }
        }
        &--allianz {
            img {
                width: 117px;
                height: 30px;
            }
        }
        &--liberty {
            img {
                width: 87px;
                height: 40px;
            }
        }
        &--ingos {
            img {
                width: 119px;
                height: 37px;
            }
        }
        &--vtb {
            img {
                width: 175px;
                height: 63px;
            }
        }
        &--rgs {
            img {
                width: 120px;
                height: 13px;
            }
        }
        &--zetta {
            img {
                width: 99px;
                height: 34px;
            }
        }
        &--uralsib {
            img {
                width: 116px;
                height: 35px;
            }
        }
        &--insurion {
            img {
                width: 120px;
                height: 25px;
            }
        }
        
    }
    &__flex-wrap {
        display: flex;
    }
    &__inner {
        margin-right: 32px;

        &:nth-child(3) {
            .result-block__data {
                height: 22px;
                .price-formater__whole,
                .price-formater__currency {
                    font-weight: 600;
                }
                .price-formater__currency {
                    height: 22px;
                    line-height: 20px;
                }
                .price-formater__decimal {
                    font-weight: 600;
                }
            }
        }
    }
    &__title {
        margin-bottom: 12px;
        color: rgba(54,57,60,0.4);
        font-size: 16px;
        line-height: 22px;
    }
    &__data {
        display: flex;
        height: 22px;
        color: #36393C;
        font-size: 16px;
        line-height: 22px;      
    }
    &__additional {
        display: flex;
        justify-content: space-between;
        width: 56px;
        margin-left: 27px;
        .icon-gift,
        .icon-warning {
            font-size: 20px;
        }
        .icon-gift {            
            color: $blue;
        }
        .tooltip {
            margin-left: 0;
        }
        .icon-warning {
            margin-right: 13px;
            color: #EEB20B;
        }
    }

    &__icons {
        display: inline-block;
        margin-left: 18px;
    }

    &__not-found-message {
        display: none;
    }
    &__selection-message {
        display: none;
    }
    &__spinner {
        display: none;
    }
}
.result-block__more {
    width: 100%;
    position: relative;
    padding: 32px;
    padding-top: 33px;
    padding-right: 24px;
    border-radius:  0 0 4px 4px;
    background-color: $white;
}
.result-block__item {
    display: flex;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
}
.result-block__more-title {
    flex-shrink: 0;
    width: 138px;
    height: 20px;  
    margin-right: 30px;  
    color: $grey2;
    font-size: 14px;
    line-height: 20px;
}
.result-block__text {
    color: #36393C;
    font-size: 14px;
    line-height: 20px;

    span {
        display: block;
    }
    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.result-block__links {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 190px;  
    margin-left: auto; 

    span {
        margin-bottom: 16px;
        color: $blue;
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;
        transition: all ease 0.2s;
        cursor: pointer;

        &:hover {
            color: #0071D6;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.result-block--expanded {
    box-shadow: 0 6px 10px 0 rgba(54,57,60,0.15);
    .result-block__main:hover {
        box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2);
    }
}
.result-block--load {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //justify-content: flex-start;
    width: 870px;
    height: 132px;
    margin-bottom: 16px;
    padding: 0 0 0 32px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2);
    transition: all ease 0.2s;

    .result-block__logo-wrap {
        margin-right: 12px;
        opacity: 0.4;
    }
    .result-block__selection-message {
        display: block;
        color: #36393C;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        opacity: 0.4;
    }
    .result-block__spinner-wrap {
        display: block;
        width: 28px;
        height: 28px;
        margin-left: 0;
        margin-right: 74px;
        font-size: 28px;
        color: $yellow;       
    }
}

.result-block--not-found {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 870px;
    height: 132px;
    margin-bottom: 16px;
    padding: 0 0 0 32px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2);
    transition: all ease 0.2s;

    .result-block__logo-wrap {
        margin-right: 0;
        opacity: 0.4;
    }
    .result-block__not-found-message {
        display: block;
        margin-right: 154px;
        color: #36393C;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        opacity: 0.4;
    }
}