


.notification {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    width: 392px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    border: 2px solid #0091ff;
    box-shadow: 0 0 5px 1px rgba(0,145,255,.3);
    background: #fff;
    z-index: 999;
    padding: 18px 15px 15px;
    line-height: 24px;
    border-radius: 4px;

    &__close {
        position: absolute;
        top: 5px;
        right: 5px;
        display: inline-block;
        padding: 10px;
        line-height: 10px;        
        cursor: pointer;
    }
}