@import '~styles/_variables.scss';

.tooltip {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-left: 8px;

    &--baseline {
        bottom: 3px;
    }
    
    &__icon {
        width: 20px;
        height: 20px;
        margin-top: 1px;
        font-size: 20px;
        color: $dark;
        line-height: 18px;
        transition: all ease 0.2s;          
        cursor: pointer;

        &:hover {
            color: $blue;            
        }
        .icon-warning {
            font-size: 20px;
        }
    }

    &__body {
        position: absolute;
        z-index: 50;
        width: 280px;
        padding: 16px;     
        color: $dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        white-space: pre-line;
        border-radius: 6px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 10px 0 rgba(54,57,60,0.15);

        &::before,
        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            background-color: #FFFFFF;
            box-shadow: 4px 4px 10px 0 rgba(54,57,60,0.07);
        }
        &::after {
            box-shadow: none;
        }

        &--hidden {
            visibility: hidden;
        }

        &--top {
            bottom: 35px;
            left: 0px;
            transform: translateX(calc(-50% + 10px));

            &::before,
            &::after {
                bottom: -5px;
                //left: 131px;
                left: calc(50% - 8px);
                transform: rotate(45deg);
            }
            &::after {
                width: 27px;
                height: 16px;
                left: calc(50% - 13px);
                bottom: 0;
                transform: rotate(0deg);
            }

            // &::before {
            //     content: "";
            //     position: absolute;
            //     left: calc(50% - 10px);
            //     bottom: -21px;
            //     border: 10px solid #e4e4e4;
            //     border-bottom-color: transparent;
            //     border-left-color: transparent;
            //     border-right-color: transparent;
            // }

            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: -20px;
            //     left: calc(50% - 10px);
            //     border: 10px solid #fff;
            //     border-bottom-color: transparent;
            //     border-left-color: transparent;
            //     border-right-color: transparent;
            // }
        }

        &--top-left {
            bottom: 35px;
            left: 0px;
            transform: translateX(-246px);

            &::before,
            &::after {
                bottom: -5px;
                right: 16px;
                transform: rotate(45deg);
            }
            &::after {
                width: 27px;
                height: 16px;
                right: 11px;
                bottom: 0;
                transform: rotate(0deg);
            }
        }

        // &--right {
        //     top: 50%;
        //     left: 35px;
        //     transform: translateY(-50%);

        //     &::before {
        //         content: "";
        //         position: absolute;
        //         top: calc(50% - 10px);
        //         left: -21px;
        //         border: 10px solid #e4e4e4;
        //         border-bottom-color: transparent;
        //         border-top-color: transparent;
        //         border-left-color: transparent;
        //     }

        //     &::after {
        //         content: "";
        //         position: absolute;
        //         left: -20px;
        //         top: calc(50% - 10px);
        //         border: 10px solid #fff;
        //         border-bottom-color: transparent;
        //         border-top-color: transparent;
        //         border-left-color: transparent;
        //     }
        // }
        // &--left {
        //     top: 50%;
        //     right: 35px;
        //     transform: translateY(-50%);

        //     &::before {
        //         content: "";
        //         position: absolute;
        //         top: calc(50% - 10px);
        //         right: -21px;
        //         border: 10px solid #e4e4e4;
        //         border-bottom-color: transparent;
        //         border-top-color: transparent;
        //         border-right-color: transparent;
        //     }

        //     &::after {
        //         content: "";
        //         position: absolute;
        //         right: -20px;
        //         top: calc(50% - 10px);
        //         border: 10px solid #fff;
        //         border-bottom-color: transparent;
        //         border-top-color: transparent;
        //         border-right-color: transparent;
        //     }
        // }
        
        // &--bottom {
        //     top: 35px;
        //     left: 0px;
        //     transform: translateX(calc(-50% + 8px));

        //     &::before {
        //         content: "";
        //         position: absolute;
        //         left: calc(50% - 10px);
        //         top: -21px;
        //         border: 10px solid #e4e4e4;
        //         border-top-color: transparent;
        //         border-left-color: transparent;
        //         border-right-color: transparent;
        //     }

        //     &::after {
        //         content: "";
        //         position: absolute;
        //         top: -20px;
        //         left: calc(50% - 10px);
        //         border: 10px solid #fff;
        //         border-top-color: transparent;
        //         border-left-color: transparent;
        //         border-right-color: transparent;
        //     }
        // }
    }

    // &__close {
    //     position: absolute;
    //     padding: 10px;
    //     top: 5px;
    //     right: 10px;
    //     display: inline-block;
    //     width: 10px;
    //     height: 10px;   
    //     cursor: pointer;

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%,-50%);
    //         display: inline-block;
    //         width: 10px;
    //         height: 10px;
    //         background: url('~img/popover-close.png');
    //     }
    // }

    // &__content {
    //     max-height: 250px;
    //     overflow: auto;
    //     line-height: 20px;
    // }
}

.warning-tooltip {
    margin-left: 15px;
	.tooltip__icon {        
        border: 0;
        margin-left: 0;
	}
	.icon-warning {
        margin-left: 0;
		font-size: 20px;
		color: #EEB20B;
	}
}

// спасибо, IE
@media screen\0 {
    .tooltip__body--top,
    .tooltip__body--bottom {
        transform: translateX(-46%);
    }
}