



.error-block {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    max-width: 524px;
    background-color: #fff7f8;
    border: 1px solid #de6262;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #de6262;

    &__close {
        position: absolute;
        top: 12px;
        right: 22px;
        width: 11px;
        height: 11px;
        cursor: pointer;

        &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 13px;
            width: 2px;
            background-color: #de6262;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}