


.policy-type {
	&__content {
		display: inline-flex;
		padding: 8px 12px 6px 12px;
		background: $lightgrey;
	}
	&__icon {
		width: 22px;
		height: 28px;
		margin-right: 6px;
		background-repeat: no-repeat;
		background-position: center;
		&--electronic {
			background: url('~img/policy-electronic.png');
		}
		&--paper {
			background: url('~img/policy-paper.png');
		}
		&--both {
			background: url('~img/policy-both.png');
		}
	}
	&__desc {
		font-size: 12px;
	}
	&__type-name {
		font-weight: 600;
	}
}