.results-header {
    padding-top: 33px;
    padding-bottom: 31px;
    background-color: $white;

    &--countries-expanded {
        padding-bottom: 15px;
    }

    &__flex-wrap {
        display: flex;       
    }
    &__wrap {
        flex-shrink: 0;
        &:nth-child(1) {
            width: 528px;
            padding-right: 28px;
        }
        &:nth-child(2) {
           width: 379px;
           padding-right: 40px;

        }
        &:nth-child(3) {
            width: 180px;        
        }
    }

    &__title {
        color: $grey2;
        font-size: 16px;
        line-height: 22px;        
    }
    &__item-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;

        .results-header__rest-items-list {
            display: none;
        }

        .icon-arrow-down {
            position: relative;
            width: 13px;
            height: 20px;
            color: #9A9C9D;
            font-size: 13px;
            cursor: pointer;            

            &::before {
                position: absolute;
                top: 4px;
                left: 0;
            }
        }

        &--expanded {

            .results-header__rest-items-list {
                display: flex;
                //order: 2;
            }

            .icon-arrow-down {
                &::before {
                    transform: rotate(180deg);
                }
            }

            .results-header__item--hidden {
                display: block;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 24px;
        margin-bottom: 16px;
        
        i {
           margin-right: 8px;
        }

        &--hidden {
            display: none;
        }

        // &:nth-of-type(n + 2) {
        //     display: none;
        // }
    }
    &__rest-items-list {
        display: flex;
        flex-wrap: wrap;
    }
    &__expand-btn-wrap {
        min-width: 15px;
        height: 22px;
        margin-right: auto;
    }
    &__term {
        position: relative;
        display: flex;
        margin-top: 8px;
        i {
            position: absolute;
            top: 1px;
            left: -28px;
            font-size: 20px;
            color: $dark;
        }
    }
    &__term-info-period {
        color: $black;
        font-size: 16px;
        line-height: 22px;
    }
    &__term-info-year {
        color: $black;
        font-size: 16px;
        line-height: 22px;
    }
    &__term-info-year-days {
        position: absolute;
        top: 22px;
        left: 0;
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
    }
    &__travelers {
        position: relative;
        display: flex;
        align-items: baseline;
        margin-top: 8px;
        i {
            position: absolute;
            top: -13px;
            left: -39px;
            font-size: 34px;
            color: $dark;
        }
    }
    &__age {
        color: $black;
        font-size: 16px;
        line-height: 22px;
    }
    &__to-previous-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        margin-left: auto;
        background-color: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2); 
        border-radius: 50%;
        cursor: pointer;
        i {
            margin-top: 3px;
            font-size: 62px;
            color: $blue;
        }
    }
}
.travel-results {
    &__plane {
        position: relative;
        height: 6px;
    }

    &__sort-results {     
        display: inline-block;
        padding-top: 48px;
        margin-bottom: 23px;
        .expand-select__dropdown {
            top: 74px;
        }
        .expand-btn {
            line-height: 23px;
            &:hover {
                color: $black;
                i::before,
                i::after {
                    background-color: $black;
                }
            }
        }
        i {
            margin-left: 13px;
        }

        &--disabled {
            .expand-btn {
                opacity: 0.3;
                cursor: default;
                &:hover {
                    color: $grey2;
                    i::before,
                    i::after {
                        background-color: $grey2;
                    }
                }
            }
        }
    }

    &__show-advanced-risk-btn {
        margin-bottom: 18px;
    }

    &__main {       
        //padding-top: 40px;
        background-color: #FBFBFF;

        .container {
            background-color: #FBFBFF;
        }
    }
    &__not-found {
        width: 870px;
        margin: 0 auto 0 0;
        padding: 25px 90px;
        color: $black;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    &__flex-wrap {
        display: flex;       
    }
    &__results-list {
        margin-right: 30px;       
        padding-bottom: 32px;
    }
    &__change-search {
        padding: 24px 100px;
        margin-bottom: 16px;
        color: $black;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    &__show-all-coverage-risk{
        display: flex;
        align-items: center;
        width: 270px;
        height: 110px;   
        margin-bottom: 32px;
        padding: 33px 24px  33px 20px;    
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
        border: 1px solid #E4EBF0;
        border-radius: 4px;
        cursor: pointer;

        i {
            font-size: 14px;
            margin-right: 11px;
        }
    }
    &__configuration-block {        
        .travel-results__risk-checkbox {
            margin-bottom: 16px;
        }
        .expand-btn {           
            font-size: 16px;
            line-height: 22px;
        }

        // &--disabled {
        //     .switcher,
        //     .risk-checkbox,
        //     .travel-results__risk-checkbox,
        //     .travel-results__show-all-coverage-risk {
        //         opacity: 0.5;
        //     }
        // }
    }
    &__configuration-rest-types {
        margin-top: 32px;
        padding-bottom: 48px;
    }
    &__show-advanced-risk-btn {
        margin-bottom: 24px;
        margin-top: 24px;

        i {
            margin-left: 11px;
        }
    }
    &__choose-sum {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &__configuration-block-heading {
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    &__configuration-kinds {
        display: block;
        margin-bottom: 24px;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }
    &__coverage-choose {
        margin-bottom: 34px;
    }
}