* {
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	min-width: 1170px;
	background: #fff;
	font-family: 'Segoe UI', sans-serif;
	color: #404040;
    font-size: 14px;
}

ul, li {
	list-style: none;
}

img {
	max-width: 100%;
}

// ::-webkit-scrollbar {
//     width: 7px;
// }
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: none;
//     -webkit-border-radius: 1px;
//     border-radius: 1px;
// }
// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 1px;
//     border-radius: 1px;
//     background: #c4c4c4;
//     -webkit-box-shadow: none;
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: #dbdbdb;
// }

button, input, optgroup, select, textarea {
	font-family: 'Segoe UI', sans-serif;
}
input {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  display: none;
}
input[type=number]{
  -moz-appearance:textfield;
}

input::-ms-clear {
	display: none;
 }
 input[type='date']{
    -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 10px;
    -webkit-appearance: none;
}

input {
	&::-webkit-input-placeholder {color: $grey2; font-weight: 400; letter-spacing: 0.1px;} 
	/* Firefox 19+ */
	&::-moz-placeholder {color: $grey2; font-weight: 400; letter-spacing: 0.1px;}
	/* Firefox 18- */
	&:-moz-placeholder {color: $grey2; font-weight: 400; letter-spacing: 0.1px;}
	&:-ms-input-placeholder {color: $grey2; font-weight: 400; letter-spacing: 0.1px;}
} 

// спасибо, Safari
input:focus {
	&::-webkit-input-placeholder {color:transparent;}
} 
input:focus {
	&::-moz-placeholder {color:transparent;}
} /* Firefox 19+ */
input:focus {
	&:-moz-placeholder {color:transparent;}
} /* Firefox 18- */
input:focus {
	&:-ms-input-placeholder {color:transparent;}
} 

  .Select.is-focused .Select-placeholder {
	  color: transparent;
  }

.container {
	position: relative;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
.rouble {
	font-family: 'Rouble';
}

@import '~components/policy-type/PolicyType.style.scss';

.m-block {
	display: none;
}
.m-hidden {
	display: block;
}

#chatra {
	display: none !important;
}

.header {
	background-color: #FFFFFF;
	border-bottom: 1px solid rgba(54,57,60,0.15);

	.container {
		background-color: #FFFFFF;
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 0;
		padding-right: 8px;
	}
	&__title {
		color: $blue;
		font-size: 24px;
		font-weight: 600;
		line-height: 32px;
		text-decoration: none;
	}
	&__questions-link {
		display: flex;
		align-items: center;
		color: $black;
		font-size: 14px;
		line-height: 20px;
		cursor: pointer;
		
		.icon-support {
			margin-right: 8px;
			font-size: 24px;
			color: $blue;
		}
	}
}

.main {
	// min-height: calc(100vh - 258px - 97px);
	background-color: #FBFBFF;
}

.service {
	padding-top: 65px;
	padding-bottom: 88px;
	background-color: #FBFBFF;

	.container {
		background-color: #FBFBFF;
	}
	&__text {
		display: block;
		margin-bottom: 40px;
		color: $grey2;
		font-size: 16px;
		line-height: 22px;
	}
	&__list {
		display: flex;
		align-items: flex-start;
	}
	&__item {
		position: relative;
		padding-left: 93px;

		&:nth-child(1) {
			margin-right: 102px;
			.service__dis {
				padding-right: 2px;
			}
		}
		&:nth-child(2) {
			margin-right: 99px;
		}
	}
	&__best-servise {
		position: absolute;
		top: 37px;
		left: 0;
		width: 69px;
		height: 64px;
	}
	&__looking-for-you {
		position: absolute;
		top: 37px;
		left: -2px;
		width: 70px;
		height: 64px;
	}
	&__working-with-the-best {
		position: absolute;
		top: 33px;
		left: -1px;
		width: 70px;
		height: 68px;
	}	
	&__title {
		display: block;
		margin-bottom: 16px;
		color: $black;
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
	}
	&__dis {
		display: block;
		width: 207px;
		color: $grey2;
		font-size: 16px;
		line-height: 22px;
	}
}

.footer {
	.container {
		display: flex;
		justify-content: space-between;
		padding-top: 48px;
		padding-bottom: 40px;
	}
	&__copyrights {
		width: 470px;
		margin-bottom: 16px;
		color: $grey2;
		font-size: 16px;
		line-height: 22px;

		span {
			display: block;
		}
	}
	&__support-link {
		color: $blue;
		font-size: 16px;
		text-decoration: none;
		line-height: 22px;
		cursor: pointer;
		transition: all ease 0.2s;

		&:hover {
			color: #0071D6;
		}
	}
	&__info {
		width: 655px;
		margin-top: 48px;
		color: $grey2;
		font-size: 13px;
		line-height: 20px;

		a {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	&__developed-by {
		display: block;
		margin-bottom: 15px;
		color: $grey2;
		font-size: 13px;
		line-height: 20px;
	}
	&__company-logo {
		width: 170px;
		height: 45px;
	}
	&__chat-btn {
		position: fixed;
		right: 20px;
		bottom: 20px;
		z-index: 10;
		cursor: pointer;

		img {
			width: 60px;
			height: 60px;
		}
	}
}

.main-header {
	position: relative;
	//height: 162px;
	width: 100%;	
	//background-color: rgba(161,180,188,0.2);
	background-color: #E8ECF2;
	box-shadow: 0 1px 2px 0 rgba(54,57,60,0.2);
	z-index: 5;

	&__title {
		margin: 0;
		margin-bottom: 23px;
		color: #36393C;
		font-size: 28px;
		font-weight: 600;
		line-height: 40px;
	}

	.container {
		padding-top: 65px;
		padding-bottom: 23px;
		background-color: #E8ECF2;
	}
}

.wrap {
	min-height: 90px;
	//height: calc(100vh - 780px);
}

.link {
	color: $blue;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	transition: all ease 0.2s;

	&:hover {
		color: #0071D6;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(251,251,255,0.96);
}