// .icon-10, .icon-100, .icon-101, .icon-102, .icon-103, 
// .icon-104, .icon-105, .icon-106, .icon-107, .icon-108, 
// .icon-109, .icon-11, .icon-110, .icon-111, .icon-112, 
// .icon-113, .icon-114, .icon-115, .icon-116, .icon-117, 
// .icon-118, .icon-119, .icon-12, .icon-120, .icon-121, 
// .icon-122, .icon-123, .icon-124, .icon-125, .icon-126, 
// .icon-127, .icon-128, .icon-129, .icon-13, .icon-130, 
// .icon-131, .icon-132, .icon-133, .icon-134, .icon-135, 
// .icon-136, .icon-137, .icon-138, .icon-139, .icon-14, 
// .icon-140, .icon-141, .icon-142, .icon-143, .icon-144, 
// .icon-145, .icon-146, .icon-147, .icon-148, .icon-149, 
// .icon-15, .icon-150, .icon-151, .icon-152, .icon-153, 
// .icon-154, .icon-155, .icon-156, .icon-157, .icon-158, 
// .icon-159, .icon-16, .icon-160, .icon-161, .icon-162, 
// .icon-163, .icon-164, .icon-165, .icon-166, .icon-167, 
// .icon-168, .icon-169, .icon-17, .icon-170, .icon-171, 
// .icon-172, .icon-173, .icon-174, .icon-175, .icon-176, 
// .icon-177, .icon-178, .icon-179, .icon-18, .icon-180, 
// .icon-181, .icon-182, .icon-183, .icon-184, .icon-185, 
// .icon-186, .icon-187, .icon-188, .icon-189, .icon-19, 
// .icon-190, .icon-191, .icon-192, .icon-193, .icon-194, 
// .icon-195, .icon-196, .icon-197, .icon-198, .icon-199, 
// .icon-2, .icon-20, .icon-200, .icon-201, .icon-202, 
// .icon-203, .icon-204, .icon-205, .icon-206, .icon-207, 
// .icon-208, .icon-209, .icon-21, .icon-210, .icon-211, 
// .icon-212, .icon-213, .icon-214, .icon-215, .icon-216, 
// .icon-217, .icon-218, .icon-219, .icon-22, .icon-220, 
// .icon-221, .icon-222, .icon-223, .icon-224, .icon-225, 
// .icon-226, .icon-227, .icon-228, .icon-229, .icon-23, 
// .icon-230, .icon-231, .icon-232, .icon-233, .icon-234, 
// .icon-235, .icon-236, .icon-237, .icon-238, .icon-239, 
// .icon-24, .icon-240, .icon-241, .icon-242, .icon-243, 
// .icon-244, .icon-245, .icon-246, .icon-247, .icon-248, 
// .icon-249, .icon-25, .icon-250, .icon-251, .icon-252, 
// .icon-253, .icon-254, .icon-255, .icon-256, .icon-257, 
// .icon-258, .icon-259, .icon-26, .icon-260, .icon-261, 
// .icon-262, .icon-263, .icon-264, .icon-265, .icon-266, 
// .icon-267, .icon-268, .icon-27, .icon-28, .icon-29, 
// .icon-3, .icon-30, .icon-31, .icon-32, .icon-33, 
// .icon-34, .icon-35, .icon-36, .icon-37, .icon-38, 
// .icon-39, .icon-4, .icon-40, .icon-41, .icon-42, 
// .icon-43, .icon-44, .icon-45, .icon-46, .icon-47, 
// .icon-48, .icon-49, .icon-5, .icon-50, .icon-51, 
// .icon-52, .icon-53, .icon-54, .icon-55, .icon-56, 
// .icon-57, .icon-58, .icon-59, .icon-6, .icon-60, 
// .icon-61, .icon-62, .icon-63, .icon-64, .icon-65, 
// .icon-66, .icon-67, .icon-68, .icon-69, .icon-7, 
// .icon-70, .icon-71, .icon-72, .icon-73, .icon-74, 
// .icon-75, .icon-76, .icon-77, .icon-78, .icon-79, 
// .icon-8, .icon-80, .icon-81, .icon-82, .icon-83, 
// .icon-84, .icon-85, .icon-86, .icon-87, .icon-88, 
// .icon-89, .icon-9, .icon-90, .icon-91, .icon-92, 
// .icon-93, .icon-94, .icon-95, .icon-96, .icon-97, 
// .icon-98, .icon-99
// {
//     &::before {
//         display: inline-block;
//         content: '';
//         width: 30px;
//         height: 20px;
//         background: url(~img/flags-sprite.png) no-repeat;         
//     }
//     &::after {
//         position: absolute;
//         content: '';
//         top: 0;
//         left: 0;
//         width: 28px;
//         height: 18px;
//         border: 1px solid #E4EBF0;
//     }
// }
 
// .icon-10 { &::before { background-position: -0px -0px; width: 30px; height: 20px; }}
// .icon-100 {&::before {  background-position: -30px -0px; width: 30px; height: 20px; }}
// .icon-101 {&::before {  background-position: -60px -0px; width: 30px; height: 20px; }}
// .icon-102 {&::before {  background-position: -90px -0px; width: 30px; height: 20px; }}
// .icon-103 {&::before {  background-position: -120px -0px; width: 30px; height: 20px; }}
// .icon-104 {&::before {  background-position: -150px -0px; width: 30px; height: 20px; }}
// .icon-105 {&::before {  background-position: -180px -0px; width: 30px; height: 20px; }}
// .icon-106 {&::before {  background-position: -210px -0px; width: 30px; height: 20px; }}
// .icon-107 {&::before {  background-position: -240px -0px; width: 30px; height: 20px; }}
// .icon-108 {&::before {  background-position: -270px -0px; width: 30px; height: 20px; }}
// .icon-109 {&::before {  background-position: -300px -0px; width: 30px; height: 20px; }}
// .icon-11 { &::before { background-position: -330px -0px; width: 30px; height: 20px; }}
// .icon-110 {&::before {  background-position: -360px -0px; width: 30px; height: 20px; }}
// .icon-111 {&::before {  background-position: -390px -0px; width: 30px; height: 20px; }}
// .icon-112 {&::before {  background-position: -420px -0px; width: 30px; height: 20px; }}
// .icon-113 {&::before {  background-position: -450px -0px; width: 30px; height: 20px; }}
// .icon-114 {&::before {  background-position: -0px -20px; width: 30px; height: 20px; }}
// .icon-115 {&::before {  background-position: -30px -20px; width: 30px; height: 20px; }}
// .icon-116 {&::before {  background-position: -60px -20px; width: 30px; height: 20px; }}
// .icon-117 {&::before {  background-position: -90px -20px; width: 30px; height: 20px; }}
// .icon-118 {&::before {  background-position: -120px -20px; width: 30px; height: 20px;} }
// .icon-119 {&::before {  background-position: -150px -20px; width: 30px; height: 20px;} }
// .icon-12 { &::before { background-position: -180px -20px; width: 30px; height: 20px; }}
// .icon-120 {&::before {  background-position: -210px -20px; width: 30px; height: 20px;} }
// .icon-121 {&::before {  background-position: -240px -20px; width: 30px; height: 20px;} }
// .icon-122 {&::before {  background-position: -270px -20px; width: 30px; height: 20px;} }
// .icon-123 {&::before {  background-position: -300px -20px; width: 30px; height: 20px;} }
// .icon-124 {&::before {  background-position: -330px -20px; width: 30px; height: 20px;} }
// .icon-125 {&::before {  background-position: -360px -20px; width: 30px; height: 20px;} }
// .icon-126 {&::before {  background-position: -390px -20px; width: 30px; height: 20px;} }
// .icon-127 {&::before {  background-position: -420px -20px; width: 30px; height: 20px;} }
// .icon-128 {&::before {  background-position: -450px -20px; width: 30px; height: 20px;} }
// .icon-129 {&::before {  background-position: -0px -40px; width: 30px; height: 20px; }}
// .icon-13 { &::before { background-position: -30px -40px; width: 30px; height: 20px; }}
// .icon-130 {&::before {  background-position: -60px -40px; width: 30px; height: 20px; }}
// .icon-131 {&::before {  background-position: -90px -40px; width: 30px; height: 20px; }}
// .icon-132 {&::before {  background-position: -120px -40px; width: 30px; height: 20px;} }
// .icon-133 {&::before {  background-position: -150px -40px; width: 30px; height: 20px;} }
// .icon-134 {&::before {  background-position: -180px -40px; width: 30px; height: 20px;} }
// .icon-135 {&::before {  background-position: -210px -40px; width: 30px; height: 20px;} }
// .icon-136 {&::before {  background-position: -240px -40px; width: 30px; height: 20px;} }
// .icon-137 {&::before {  background-position: -270px -40px; width: 30px; height: 20px;} }
// .icon-138 {&::before {  background-position: -300px -40px; width: 30px; height: 20px;} }
// .icon-139 {&::before {  background-position: -330px -40px; width: 30px; height: 20px;} }
// .icon-14 { &::before { background-position: -360px -40px; width: 30px; height: 20px; }}
// .icon-140 {&::before {  background-position: -390px -40px; width: 30px; height: 20px;} }
// .icon-141 {&::before {  background-position: -420px -40px; width: 30px; height: 20px;} }
// .icon-142 {&::before {  background-position: -450px -40px; width: 30px; height: 20px;} }
// .icon-143 {&::before {  background-position: -0px -60px; width: 30px; height: 20px; }}
// .icon-144 {&::before {  background-position: -30px -60px; width: 30px; height: 20px; }}
// .icon-145 {&::before {  background-position: -60px -60px; width: 30px; height: 20px; }}
// .icon-146 {&::before {  background-position: -90px -60px; width: 30px; height: 20px; }}
// .icon-147 {&::before {  background-position: -120px -60px; width: 30px; height: 20px;} }
// .icon-148 {&::before {  background-position: -150px -60px; width: 30px; height: 20px;} }
// .icon-149 {&::before {  background-position: -180px -60px; width: 30px; height: 20px;} }
// .icon-15 { &::before { background-position: -210px -60px; width: 30px; height: 20px; }}
// .icon-150 {&::before {  background-position: -240px -60px; width: 30px; height: 20px;} }
// .icon-151 {&::before {  background-position: -270px -60px; width: 30px; height: 20px;} }
// .icon-152 {&::before {  background-position: -300px -60px; width: 30px; height: 20px;} }
// .icon-153 {&::before {  background-position: -330px -60px; width: 30px; height: 20px;} }
// .icon-154 {&::before {  background-position: -360px -60px; width: 30px; height: 20px;} }
// .icon-155 {&::before {  background-position: -390px -60px; width: 30px; height: 20px;} }
// .icon-156 {&::before {  background-position: -420px -60px; width: 30px; height: 20px;} }
// .icon-157 {&::before {  background-position: -450px -60px; width: 30px; height: 20px;} }
// .icon-158 {&::before {  background-position: -0px -80px; width: 30px; height: 20px; }}
// .icon-159 {&::before {  background-position: -30px -80px; width: 30px; height: 20px; }}
// .icon-16 { &::before { background-position: -60px -80px; width: 30px; height: 20px; }}
// .icon-160 {&::before {  background-position: -90px -80px; width: 30px; height: 20px; }}
// .icon-161 {&::before {  background-position: -120px -80px; width: 30px; height: 20px;} }
// .icon-162 {&::before {  background-position: -150px -80px; width: 30px; height: 20px;} }
// .icon-163 {&::before {  background-position: -180px -80px; width: 30px; height: 20px;} }
// .icon-164 {&::before {  background-position: -210px -80px; width: 30px; height: 20px;} }
// .icon-165 {&::before {  background-position: -240px -80px; width: 30px; height: 20px;} }
// .icon-166 {&::before {  background-position: -270px -80px; width: 30px; height: 20px;} }
// .icon-167 {&::before {  background-position: -300px -80px; width: 30px; height: 20px;} }
// .icon-168 {&::before {  background-position: -330px -80px; width: 30px; height: 20px;} }
// .icon-169 {&::before {  background-position: -360px -80px; width: 30px; height: 20px;} }
// .icon-17 { &::before { background-position: -390px -80px; width: 30px; height: 20px; }}
// .icon-170 {&::before {  background-position: -420px -80px; width: 30px; height: 20px;} }
// .icon-171 {&::before {  background-position: -450px -80px; width: 30px; height: 20px;} }
// .icon-172 {&::before {  background-position: -0px -100px; width: 30px; height: 20px; }}
// .icon-173 {&::before {  background-position: -30px -100px; width: 30px; height: 20px;} }
// .icon-174 {&::before {  background-position: -60px -100px; width: 30px; height: 20px;} }
// .icon-175 {&::before {  background-position: -90px -100px; width: 30px; height: 20px;} }
// .icon-176 {&::before {  background-position: -120px -100px; width: 30px; height: 20px;}}
// .icon-177 {&::before {  background-position: -150px -100px; width: 30px; height: 20px;}}
// .icon-178 {&::before {  background-position: -180px -100px; width: 30px; height: 20px;}}
// .icon-179 {&::before {  background-position: -210px -100px; width: 30px; height: 20px;}}
// .icon-18 { &::before { background-position: -240px -100px; width: 30px; height: 20px;} }
// .icon-180 {&::before {  background-position: -270px -100px; width: 30px; height: 20px;}}
// .icon-181 {&::before {  background-position: -300px -100px; width: 30px; height: 20px;}}
// .icon-182 {&::before {  background-position: -330px -100px; width: 30px; height: 20px;}}
// .icon-183 {&::before {  background-position: -360px -100px; width: 30px; height: 20px;}}
// .icon-184 {&::before {  background-position: -390px -100px; width: 30px; height: 20px;}}
// .icon-185 {&::before {  background-position: -420px -100px; width: 30px; height: 20px;}}
// .icon-186 {&::before {  background-position: -450px -100px; width: 30px; height: 20px;}}
// .icon-187 {&::before {  background-position: -0px -120px; width: 30px; height: 20px; }}
// .icon-188 {&::before {  background-position: -30px -120px; width: 30px; height: 20px;} }
// .icon-189 {&::before {  background-position: -60px -120px; width: 30px; height: 20px;} }
// .icon-19 { &::before { background-position: -90px -120px; width: 30px; height: 20px; }}
// .icon-190 {&::before {  background-position: -120px -120px; width: 30px; height: 20px;}}
// .icon-191 {&::before {  background-position: -150px -120px; width: 30px; height: 20px;}}
// .icon-192 {&::before {  background-position: -180px -120px; width: 30px; height: 20px;}}
// .icon-193 {&::before {  background-position: -210px -120px; width: 30px; height: 20px;}}
// .icon-194 {&::before {  background-position: -240px -120px; width: 30px; height: 20px;}}
// .icon-195 {&::before {  background-position: -270px -120px; width: 30px; height: 20px;}}
// .icon-196 {&::before {  background-position: -300px -120px; width: 30px; height: 20px;}}
// .icon-197 {&::before {  background-position: -330px -120px; width: 30px; height: 20px;}}
// .icon-198 {&::before {  background-position: -360px -120px; width: 30px; height: 20px;}}
// .icon-199 {&::before {  background-position: -390px -120px; width: 30px; height: 20px;}}
// .icon-2 { &::before { background-position: -420px -120px; width: 30px; height: 20px; }}
// .icon-20 { &::before { background-position: -450px -120px; width: 30px; height: 20px;} }
// .icon-200 {&::before {  background-position: -0px -140px; width: 30px; height: 20px; }}
// .icon-201 {&::before {  background-position: -30px -140px; width: 30px; height: 20px;}}
// .icon-202 {&::before {  background-position: -60px -140px; width: 30px; height: 20px;}}
// .icon-203 {&::before {  background-position: -90px -140px; width: 30px; height: 20px;}}
// .icon-204 {&::before {  background-position: -120px -140px; width: 30px; height: 20px;}}
// .icon-205 {&::before {  background-position: -150px -140px; width: 30px; height: 20px;}}
// .icon-206 {&::before {  background-position: -180px -140px; width: 30px; height: 20px;}}
// .icon-207 {&::before {  background-position: -210px -140px; width: 30px; height: 20px;}}
// .icon-208 {&::before {  background-position: -240px -140px; width: 30px; height: 20px;}}
// .icon-209 {&::before {  background-position: -270px -140px; width: 30px; height: 20px;}}
// .icon-21 { &::before { background-position: -300px -140px; width: 30px; height: 20px;} }
// .icon-210 {&::before {  background-position: -330px -140px; width: 30px; height: 20px;}}
// .icon-211 {&::before {  background-position: -360px -140px; width: 30px; height: 20px;}}
// .icon-212 {&::before {  background-position: -390px -140px; width: 30px; height: 20px;}}
// .icon-213 {&::before {  background-position: -420px -140px; width: 30px; height: 20px;}}
// .icon-214 {&::before {  background-position: -450px -140px; width: 30px; height: 20px;}}
// .icon-215 {&::before {  background-position: -0px -160px; width: 30px; height: 20px; }}
// .icon-216 {&::before {  background-position: -30px -160px; width: 30px; height: 20px;}}
// .icon-217 {&::before {  background-position: -60px -160px; width: 30px; height: 20px;}}
// .icon-218 {&::before {  background-position: -90px -160px; width: 30px; height: 20px;}}
// .icon-219 {&::before {  background-position: -120px -160px; width: 30px; height: 20px;}}
// .icon-22 { &::before { background-position: -150px -160px; width: 30px; height: 20px;}}
// .icon-220 {&::before {  background-position: -180px -160px; width: 30px; height: 20px;}}
// .icon-221 {&::before {  background-position: -210px -160px; width: 30px; height: 20px;}}
// .icon-222 {&::before {  background-position: -240px -160px; width: 30px; height: 20px;}}
// .icon-223 {&::before {  background-position: -270px -160px; width: 30px; height: 20px;}}
// .icon-224 {&::before {  background-position: -300px -160px; width: 30px; height: 20px;}}
// .icon-225 {&::before {  background-position: -330px -160px; width: 30px; height: 20px;}}
// .icon-226 {&::before {  background-position: -360px -160px; width: 30px; height: 20px;}}
// .icon-227 {&::before {  background-position: -390px -160px; width: 30px; height: 20px;}}
// .icon-228 {&::before {  background-position: -420px -160px; width: 30px; height: 20px;}}
// .icon-229 {&::before {  background-position: -450px -160px; width: 30px; height: 20px;}}
// .icon-23 { &::before { background-position: -0px -180px; width: 30px; height: 20px; }}
// .icon-230 {&::before {  background-position: -30px -180px; width: 30px; height: 20px;} }
// .icon-231 {&::before {  background-position: -60px -180px; width: 30px; height: 20px;} }
// .icon-232 {&::before {  background-position: -90px -180px; width: 30px; height: 20px;} }
// .icon-233 {&::before {  background-position: -120px -180px; width: 30px; height: 20px;}}
// .icon-234 {&::before {  background-position: -150px -180px; width: 30px; height: 20px;}}
// .icon-235 {&::before {  background-position: -180px -180px; width: 30px; height: 20px;}}
// .icon-236 {&::before {  background-position: -210px -180px; width: 30px; height: 20px;}}
// .icon-237 {&::before {  background-position: -240px -180px; width: 30px; height: 20px;}}
// .icon-238 {&::before {  background-position: -270px -180px; width: 30px; height: 20px;}}
// .icon-239 {&::before {  background-position: -300px -180px; width: 30px; height: 20px;}}
// .icon-24 { &::before { background-position: -330px -180px; width: 30px; height: 20px;} }
// .icon-240 {&::before {  background-position: -360px -180px; width: 30px; height: 20px;} }
// .icon-241 {&::before {  background-position: -390px -180px; width: 30px; height: 20px;} }
// .icon-242 {&::before {  background-position: -420px -180px; width: 30px; height: 20px;} }
// .icon-243 {&::before {  background-position: -450px -180px; width: 30px; height: 20px;} }
// .icon-244 {&::before {  background-position: -0px -200px; width: 30px; height: 20px; }}
// .icon-245 {&::before {  background-position: -30px -200px; width: 30px; height: 20px;} }
// .icon-246 {&::before {  background-position: -60px -200px; width: 30px; height: 20px;} }
// .icon-247 {&::before {  background-position: -90px -200px; width: 30px; height: 20px;} }
// .icon-248 {&::before {  background-position: -120px -200px; width: 30px; height: 20px;}}
// .icon-249 {&::before {  background-position: -150px -200px; width: 30px; height: 20px;}}
// .icon-25 { &::before { background-position: -180px -200px; width: 30px; height: 20px;} }
// .icon-250 {&::before {  background-position: -210px -200px; width: 30px; height: 20px;} }
// .icon-251 {&::before {  background-position: -240px -200px; width: 30px; height: 20px;} }
// .icon-252 {&::before {  background-position: -270px -200px; width: 30px; height: 20px;} }
// .icon-253 {&::before {  background-position: -300px -200px; width: 30px; height: 20px;} }
// .icon-254 {&::before {  background-position: -330px -200px; width: 30px; height: 20px;} }
// .icon-255 {&::before {  background-position: -360px -200px; width: 30px; height: 20px;} }
// .icon-256 {&::before {  background-position: -390px -200px; width: 30px; height: 20px;} }
// .icon-257 {&::before {  background-position: -420px -200px; width: 30px; height: 20px;} }
// .icon-258 {&::before {  background-position: -450px -200px; width: 30px; height: 20px;} }
// .icon-259 {&::before {  background-position: -0px -220px; width: 30px; height: 20px; }}
// .icon-26 { &::before { background-position: -30px -220px; width: 30px; height: 20px; }}
// .icon-260 {&::before {  background-position: -60px -220px; width: 30px; height: 20px;} }
// .icon-261 {&::before {  background-position: -90px -220px; width: 30px; height: 20px;} }
// .icon-262 {&::before {  background-position: -120px -220px; width: 30px; height: 20px;} }
// .icon-263 {&::before {  background-position: -150px -220px; width: 30px; height: 20px;} }
// .icon-264 {&::before {  background-position: -180px -220px; width: 30px; height: 20px;} }
// .icon-265 {&::before {  background-position: -210px -220px; width: 30px; height: 20px;} }
// .icon-266 {&::before {  background-position: -240px -220px; width: 30px; height: 20px;} }
// .icon-267 {&::before {  background-position: -270px -220px; width: 30px; height: 20px;} }
// .icon-268 {&::before {  background-position: -300px -220px; width: 30px; height: 20px;} }
// .icon-27 { &::before { background-position: -330px -220px; width: 30px; height: 20px;} }
// .icon-28 { &::before { background-position: -360px -220px; width: 30px; height: 20px;} }
// .icon-29 { &::before { background-position: -390px -220px; width: 30px; height: 20px;} }
// .icon-3 { &::before { background-position: -420px -220px; width: 30px; height: 20px; }}
// .icon-30 { &::before { background-position: -450px -220px; width: 30px; height: 20px;} }
// .icon-31 { &::before { background-position: -0px -240px; width: 30px; height: 20px; }}
// .icon-32 { &::before { background-position: -30px -240px; width: 30px; height: 20px; }}
// .icon-33 { &::before { background-position: -60px -240px; width: 30px; height: 20px; }}
// .icon-34 { &::before { background-position: -90px -240px; width: 30px; height: 20px; }}
// .icon-35 { &::before { background-position: -120px -240px; width: 30px; height: 20px;} }
// .icon-36 { &::before { background-position: -150px -240px; width: 30px; height: 20px;} }
// .icon-37 { &::before { background-position: -180px -240px; width: 30px; height: 20px;} }
// .icon-38 { &::before { background-position: -210px -240px; width: 30px; height: 20px;} }
// .icon-39 { &::before { background-position: -240px -240px; width: 30px; height: 20px;} }
// .icon-4 { &::before { background-position: -270px -240px; width: 30px; height: 20px; }}
// .icon-40 { &::before { background-position: -300px -240px; width: 30px; height: 20px;} }
// .icon-41 { &::before { background-position: -330px -240px; width: 30px; height: 20px;} }
// .icon-42 { &::before { background-position: -360px -240px; width: 30px; height: 20px;} }
// .icon-43 { &::before { background-position: -390px -240px; width: 30px; height: 20px;} }
// .icon-44 { &::before { background-position: -420px -240px; width: 30px; height: 20px;} }
// .icon-45 { &::before { background-position: -450px -240px; width: 30px; height: 20px;} }
// .icon-46 { &::before { background-position: -0px -260px; width: 30px; height: 20px; }}
// .icon-47 { &::before { background-position: -30px -260px; width: 30px; height: 20px; }}
// .icon-48 { &::before { background-position: -60px -260px; width: 30px; height: 20px; }}
// .icon-49 { &::before { background-position: -90px -260px; width: 30px; height: 20px; }}
// .icon-5 { &::before { background-position: -120px -260px; width: 30px; height: 20px; }}
// .icon-50 { &::before { background-position: -150px -260px; width: 30px; height: 20px;} }
// .icon-51 { &::before { background-position: -180px -260px; width: 30px; height: 20px;} }
// .icon-52 { &::before { background-position: -210px -260px; width: 30px; height: 20px;} }
// .icon-53 { &::before { background-position: -240px -260px; width: 30px; height: 20px;} }
// .icon-54 { &::before { background-position: -270px -260px; width: 30px; height: 20px;} }
// .icon-55 { &::before { background-position: -300px -260px; width: 30px; height: 20px;} }
// .icon-56 { &::before { background-position: -330px -260px; width: 30px; height: 20px;} }
// .icon-57 { &::before { background-position: -360px -260px; width: 30px; height: 20px;} }
// .icon-58 { &::before { background-position: -390px -260px; width: 30px; height: 20px;} }
// .icon-59 { &::before { background-position: -420px -260px; width: 30px; height: 20px;} }
// .icon-6 { &::before { background-position: -450px -260px; width: 30px; height: 20px; }}
// .icon-60 { &::before { background-position: -0px -280px; width: 30px; height: 20px; }}
// .icon-61 { &::before { background-position: -30px -280px; width: 30px; height: 20px; }}
// .icon-62 { &::before { background-position: -60px -280px; width: 30px; height: 20px; }}
// .icon-63 { &::before { background-position: -90px -280px; width: 30px; height: 20px; }}
// .icon-64 { &::before { background-position: -120px -280px; width: 30px; height: 20px;} }
// .icon-65 { &::before { background-position: -150px -280px; width: 30px; height: 20px;} }
// .icon-66 { &::before { background-position: -180px -280px; width: 30px; height: 20px;} }
// .icon-67 { &::before { background-position: -210px -280px; width: 30px; height: 20px;} }
// .icon-68 { &::before { background-position: -240px -280px; width: 30px; height: 20px;} }
// .icon-69 { &::before { background-position: -270px -280px; width: 30px; height: 20px;} }
// .icon-7 { &::before { background-position: -300px -280px; width: 30px; height: 20px; }}
// .icon-70 { &::before { background-position: -330px -280px; width: 30px; height: 20px;} }
// .icon-71 { &::before { background-position: -360px -280px; width: 30px; height: 20px;} }
// .icon-72 { &::before { background-position: -390px -280px; width: 30px; height: 20px;} }
// .icon-73 { &::before { background-position: -420px -280px; width: 30px; height: 20px;} }
// .icon-74 { &::before { background-position: -450px -280px; width: 30px; height: 20px;} }
// .icon-75 { &::before { background-position: -0px -300px; width: 30px; height: 20px; }}
// .icon-76 { &::before { background-position: -30px -300px; width: 30px; height: 20px; }}
// .icon-77 { &::before { background-position: -60px -300px; width: 30px; height: 20px; }}
// .icon-78 { &::before { background-position: -90px -300px; width: 30px; height: 20px; }}
// .icon-79 { &::before { background-position: -120px -300px; width: 30px; height: 20px;} }
// .icon-8 { &::before { background-position: -150px -300px; width: 30px; height: 20px; }}
// .icon-80 { &::before { background-position: -180px -300px; width: 30px; height: 20px;} }
// .icon-81 { &::before { background-position: -210px -300px; width: 30px; height: 20px;} }
// .icon-82 { &::before { background-position: -240px -300px; width: 30px; height: 20px;} }
// .icon-83 { &::before { background-position: -270px -300px; width: 30px; height: 20px;} }
// .icon-84 { &::before { background-position: -300px -300px; width: 30px; height: 20px;} }
// .icon-85 { &::before { background-position: -330px -300px; width: 30px; height: 20px;} }
// .icon-86 { &::before { background-position: -360px -300px; width: 30px; height: 20px;} }
// .icon-87 { &::before { background-position: -390px -300px; width: 30px; height: 20px;} }
// .icon-88 { &::before { background-position: -420px -300px; width: 30px; height: 20px;} }
// .icon-89 { &::before { background-position: -450px -300px; width: 30px; height: 20px;} }
// .icon-9 { &::before { background-position: -0px -320px; width: 30px; height: 20px; }}
// .icon-90 { &::before { background-position: -30px -320px; width: 30px; height: 20px; }}
// .icon-91 { &::before { background-position: -60px -320px; width: 30px; height: 20px; }}
// .icon-92 { &::before { background-position: -90px -320px; width: 30px; height: 20px; }}
// .icon-93 { &::before { background-position: -120px -320px; width: 30px; height: 20px;} }
// .icon-94 { &::before { background-position: -150px -320px; width: 30px; height: 20px;} }
// .icon-95 { &::before { background-position: -180px -320px; width: 30px; height: 20px;} }
// .icon-96 { &::before { background-position: -210px -320px; width: 30px; height: 20px;} }
// .icon-97 { &::before { background-position: -240px -320px; width: 30px; height: 20px;} }
// .icon-98 { &::before { background-position: -270px -320px; width: 30px; height: 20px;} }
// .icon-99 { &::before { background-position: -300px -320px; width: 30px; height: 20px;} }


/* Icons from directory "" */
.icon-10, .icon-100, .icon-101, .icon-102, .icon-103, 
.icon-104, .icon-105, .icon-106, .icon-107, .icon-108, 
.icon-109, .icon-11, .icon-110, .icon-111, .icon-112, 
.icon-113, .icon-114, .icon-115, .icon-116, .icon-117, 
.icon-118, .icon-119, .icon-12, .icon-120, .icon-121, 
.icon-122, .icon-123, .icon-124, .icon-125, .icon-126, 
.icon-127, .icon-128, .icon-129, .icon-13, .icon-130, 
.icon-131, .icon-132, .icon-133, .icon-134, .icon-135, 
.icon-136, .icon-137, .icon-138, .icon-139, .icon-14, 
.icon-140, .icon-141, .icon-142, .icon-143, .icon-144, 
.icon-145, .icon-146, .icon-147, .icon-148, .icon-149, 
.icon-15, .icon-150, .icon-151, .icon-152, .icon-153, 
.icon-154, .icon-155, .icon-156, .icon-157, .icon-158, 
.icon-159, .icon-16, .icon-160, .icon-161, .icon-162, 
.icon-163, .icon-164, .icon-165, .icon-166, .icon-167, 
.icon-168, .icon-169, .icon-17, .icon-170, .icon-171, 
.icon-172, .icon-173, .icon-174, .icon-175, .icon-176, 
.icon-177, .icon-178, .icon-179, .icon-18, .icon-180, 
.icon-181, .icon-182, .icon-183, .icon-184, .icon-185, 
.icon-186, .icon-187, .icon-188, .icon-189, .icon-19, 
.icon-190, .icon-191, .icon-192, .icon-193, .icon-194, 
.icon-195, .icon-196, .icon-197, .icon-198, .icon-199, 
.icon-2, .icon-20, .icon-200, .icon-201, .icon-202, 
.icon-203, .icon-204, .icon-205, .icon-206, .icon-207, 
.icon-208, .icon-209, .icon-21, .icon-210, .icon-211, 
.icon-212, .icon-213, .icon-214, .icon-215, .icon-216, 
.icon-217, .icon-218, .icon-219, .icon-22, .icon-220, 
.icon-221, .icon-222, .icon-223, .icon-224, .icon-225, 
.icon-226, .icon-227, .icon-228, .icon-229, .icon-23, 
.icon-230, .icon-231, .icon-232, .icon-233, .icon-234, 
.icon-235, .icon-236, .icon-237, .icon-238, .icon-239, 
.icon-24, .icon-240, .icon-241, .icon-242, .icon-243, 
.icon-244, .icon-245, .icon-246, .icon-247, .icon-248, 
.icon-249, .icon-25, .icon-250, .icon-251, .icon-252, 
.icon-253, .icon-254, .icon-255, .icon-256, .icon-257, 
.icon-258, .icon-259, .icon-26, .icon-260, .icon-261, 
.icon-262, .icon-263, .icon-264, .icon-265, .icon-266, 
.icon-267, .icon-268, .icon-27, .icon-28, .icon-29, 
.icon-3, .icon-30, .icon-31, .icon-32, .icon-33, 
.icon-34, .icon-35, .icon-36, .icon-37, .icon-38, 
.icon-39, .icon-4, .icon-40, .icon-41, .icon-42, 
.icon-43, .icon-44, .icon-45, .icon-46, .icon-47, 
.icon-48, .icon-49, .icon-5, .icon-50, .icon-51, 
.icon-52, .icon-53, .icon-54, .icon-55, .icon-56, 
.icon-57, .icon-58, .icon-59, .icon-6, .icon-60, 
.icon-61, .icon-62, .icon-63, .icon-64, .icon-65, 
.icon-66, .icon-67, .icon-68, .icon-69, .icon-7, 
.icon-70, .icon-71, .icon-72, .icon-73, .icon-74, 
.icon-75, .icon-76, .icon-77, .icon-78, .icon-79, 
.icon-8, .icon-80, .icon-81, .icon-82, .icon-83, 
.icon-84, .icon-85, .icon-86, .icon-87, .icon-88, 
.icon-89, .icon-9, .icon-90, .icon-91, .icon-92, 
.icon-93, .icon-94, .icon-95, .icon-96, .icon-97, 
.icon-98, .icon-99 {
    position: relative;

    &::before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 20px;
        background: url(~img/flags-sprite.svg) no-repeat;         
    }
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 28px;
        height: 18px;
        border: 1px solid #E4EBF0;
    }
}



.icon-10 {&::before{background-position:0 0;}}
.icon-100{&::before{background-position:0 -20px;}}
.icon-101{&::before{background-position:0 -40px;}}
.icon-102{&::before{background-position:0 -60px;}}
.icon-103{&::before{background-position:0 -80px;}}
.icon-104{&::before{background-position:0 -100px;}}
.icon-105{&::before{background-position:0 -120px;}}
.icon-106{&::before{background-position:0 -140px;}}
.icon-107{&::before{background-position:0 -160px;}}
.icon-108{&::before{background-position:0 -180px;}}
.icon-109{&::before{background-position:0 -200px;}}
.icon-11{&::before{background-position:0 -220px;}}
.icon-110{&::before{background-position:0 -240px;}}
.icon-111{&::before{background-position:0 -260px;}}
.icon-112{&::before{background-position:0 -280px;}}
.icon-113{&::before{background-position:0 -300px;}}
.icon-114{&::before{background-position:0 -320px;}}
.icon-115{&::before{background-position:0 -340px;}}
.icon-116{&::before{background-position:0 -360px;}}
.icon-117{&::before{background-position:0 -380px;}}
.icon-118{&::before{background-position:0 -400px;}}
.icon-119{&::before{background-position:0 -420px;}}
.icon-12{&::before{background-position:0 -440px;}}
.icon-120{&::before{background-position:0 -460px;}}
.icon-121{&::before{background-position:0 -480px;}}
.icon-122{&::before{background-position:0 -500px;}}
.icon-123{&::before{background-position:0 -520px;}}
.icon-124{&::before{background-position:0 -540px;}}
.icon-125{&::before{background-position:0 -560px;}}
.icon-126{&::before{background-position:0 -580px;}}
.icon-127{&::before{background-position:0 -600px;}}
.icon-128{&::before{background-position:0 -620px;}}
.icon-129{&::before{background-position:0 -640px;}}
.icon-13{&::before{background-position:0 -660px;}}
.icon-130{&::before{background-position:0 -680px;}}
.icon-131{&::before{background-position:0 -700px;}}
.icon-132{&::before{background-position:0 -720px;}}
.icon-133{&::before{background-position:0 -740px;}}
.icon-134{&::before{background-position:0 -760px;}}
.icon-135{&::before{background-position:0 -780px;}}
.icon-136{&::before{background-position:0 -800px;}}
.icon-137{&::before{background-position:0 -820px;}}
.icon-138{&::before{background-position:0 -840px;}}
.icon-139{&::before{background-position:0 -860px;}}
.icon-14{&::before{background-position:0 -880px;}}
.icon-140{&::before{background-position:0 -900px;}}
.icon-141{&::before{background-position:0 -920px;}}
.icon-142{&::before{background-position:0 -940px;}}
.icon-143{&::before{background-position:0 -960px;}}
.icon-144{&::before{background-position:0 -980px;}}
.icon-145{&::before{background-position:0 -1000px;}}
.icon-146{&::before{background-position:0 -1020px;}}
.icon-147{&::before{background-position:0 -1040px;}}
.icon-148{&::before{background-position:0 -1060px;}}
.icon-149{&::before{background-position:0 -1080px;}}
.icon-15{&::before{background-position:0 -1100px;}}
.icon-150{&::before{background-position:0 -1120px;}}
.icon-151{&::before{background-position:0 -1140px;}}
.icon-152{&::before{background-position:0 -1160px;}}
.icon-153{&::before{background-position:0 -1180px;}}
.icon-154{&::before{background-position:0 -1200px;}}
.icon-155{&::before{background-position:0 -1220px;}}
.icon-156{&::before{background-position:0 -1240px;}}
.icon-157{&::before{background-position:0 -1260px;}}
.icon-158{&::before{background-position:0 -1280px;}}
.icon-159{&::before{background-position:0 -1300px;}}
.icon-16{&::before{background-position:0 -1320px;}}
.icon-160{&::before{background-position:0 -1340px;}}
.icon-161{&::before{background-position:0 -1360px;}}
.icon-162{&::before{background-position:0 -1380px;}}
.icon-163{&::before{background-position:0 -1400px;}}
.icon-164{&::before{background-position:0 -1420px;}}
.icon-165{&::before{background-position:0 -1440px;}}
.icon-166{&::before{background-position:0 -1460px;}}
.icon-167{&::before{background-position:0 -1480px;}}
.icon-168{&::before{background-position:0 -1500px;}}
.icon-169{&::before{background-position:0 -1520px;}}
.icon-17{&::before{background-position:0 -1540px;}}
.icon-170{&::before{background-position:0 -1560px;}}
.icon-171{&::before{background-position:0 -1580px;}}
.icon-172{&::before{background-position:0 -1600px;}}
.icon-173{&::before{background-position:0 -1620px;}}
.icon-174{&::before{background-position:0 -1640px;}}
.icon-175{&::before{background-position:0 -1660px;}}
.icon-176{&::before{background-position:0 -1680px;}}
.icon-177{&::before{background-position:0 -1700px;}}
.icon-178{&::before{background-position:0 -1720px;}}
.icon-179{&::before{background-position:0 -1740px;}}
.icon-18{&::before{background-position:0 -1760px;}}
.icon-180{&::before{background-position:0 -1780px;}}
.icon-181{&::before{background-position:0 -1800px;}}
.icon-182{&::before{background-position:0 -1820px;}}
.icon-183{&::before{background-position:0 -1840px;}}
.icon-184{&::before{background-position:0 -1860px;}}
.icon-185{&::before{background-position:0 -1880px;}}
.icon-186{&::before{background-position:0 -1900px;}}
.icon-187{&::before{background-position:0 -1920px;}}
.icon-188{&::before{background-position:0 -1940px;}}
.icon-189{&::before{background-position:0 -1960px;}}
.icon-19{&::before{background-position:0 -1980px;}}
.icon-190{&::before{background-position:0 -2000px;}}
.icon-191{&::before{background-position:0 -2020px;}}
.icon-192{&::before{background-position:0 -2040px;}}
.icon-193{&::before{background-position:0 -2060px;}}
.icon-194{&::before{background-position:0 -2080px;}}
.icon-195{&::before{background-position:0 -2100px;}}
.icon-196{&::before{background-position:0 -2120px;}}
.icon-197{&::before{background-position:0 -2140px;}}
.icon-198{&::before{background-position:0 -2160px;}}
.icon-199{&::before{background-position:0 -2180px;}}
.icon-2{&::before{background-position:0 -2200px;}}
.icon-20{&::before{background-position:0 -2220px;}}
.icon-200{&::before{background-position:0 -2240px;}}
.icon-201{&::before{background-position:0 -2260px;}}
.icon-202{&::before{background-position:0 -2280px;}}
.icon-203{&::before{background-position:0 -2300px;}}
.icon-204{&::before{background-position:0 -2320px;}}
.icon-205{&::before{background-position:0 -2340px;}}
.icon-206{&::before{background-position:0 -2360px;}}
.icon-207{&::before{background-position:0 -2380px;}}
.icon-208{&::before{background-position:0 -2400px;}}
.icon-209{&::before{background-position:0 -2420px;}}
.icon-21{&::before{background-position:0 -2440px;}}
.icon-210{&::before{background-position:0 -2460px;}}
.icon-211{&::before{background-position:0 -2480px;}}
.icon-212{&::before{background-position:0 -2500px;}}
.icon-213{&::before{background-position:0 -2520px;}}
.icon-214{&::before{background-position:0 -2540px;}}
.icon-215{&::before{background-position:0 -2560px;}}
.icon-216{&::before{background-position:0 -2580px;}}
.icon-217{&::before{background-position:0 -2600px;}}
.icon-218{&::before{background-position:0 -2620px;}}
.icon-219{&::before{background-position:0 -2640px;}}
.icon-22{&::before{background-position:0 -2660px;}}
.icon-220{&::before{background-position:0 -2680px;}}
.icon-221{&::before{background-position:0 -2700px;}}
.icon-222{&::before{background-position:0 -2720px;}}
.icon-223{&::before{background-position:0 -2740px;}}
.icon-224{&::before{background-position:0 -2760px;}}
.icon-225{&::before{background-position:0 -2780px;}}
.icon-226{&::before{background-position:0 -2800px;}}
.icon-227{&::before{background-position:0 -2820px;}}
.icon-228{&::before{background-position:0 -2840px;}}
.icon-229{&::before{background-position:0 -2860px;}}
.icon-23{&::before{background-position:0 -2880px;}}
.icon-230{&::before{background-position:0 -2900px;}}
.icon-231{&::before{background-position:0 -2920px;}}
.icon-232{&::before{background-position:0 -2940px;}}
.icon-233{&::before{background-position:0 -2960px;}}
.icon-234{&::before{background-position:0 -2980px;}}
.icon-235{&::before{background-position:0 -3000px;}}
.icon-236{&::before{background-position:0 -3020px;}}
.icon-237{&::before{background-position:0 -3040px;}}
.icon-238{&::before{background-position:0 -3060px;}}
.icon-239{&::before{background-position:0 -3080px;}}
.icon-24{&::before{background-position:0 -3100px;}}
.icon-240{&::before{background-position:0 -3120px;}}
.icon-241{&::before{background-position:0 -3140px;}}
.icon-242{&::before{background-position:0 -3160px;}}
.icon-243{&::before{background-position:0 -3180px;}}
.icon-244{&::before{background-position:0 -3200px;}}
.icon-245{&::before{background-position:0 -3220px;}}
.icon-246{&::before{background-position:0 -3240px;}}
.icon-247{&::before{background-position:0 -3260px;}}
.icon-248{&::before{background-position:0 -3280px;}}
.icon-249{&::before{background-position:0 -3300px;}}
.icon-25{&::before{background-position:0 -3320px;}}
.icon-250{&::before{background-position:0 -3340px;}}
.icon-251{&::before{background-position:0 -3360px;}}
.icon-252{&::before{background-position:0 -3380px;}}
.icon-253{&::before{background-position:0 -3400px;}}
.icon-254{&::before{background-position:0 -3420px;}}
.icon-255{&::before{background-position:0 -3440px;}}
.icon-256{&::before{background-position:0 -3460px;}}
.icon-257{&::before{background-position:0 -3480px;}}
.icon-258{&::before{background-position:0 -3500px;}}
.icon-259{&::before{background-position:0 -3520px;}}
.icon-26{&::before{background-position:0 -3540px;}}
.icon-260{&::before{background-position:0 -3560px;}}
.icon-261{&::before{background-position:0 -3580px;}}
.icon-262{&::before{background-position:0 -3600px;}}
.icon-263{&::before{background-position:0 -3620px;}}
.icon-264{&::before{background-position:0 -3640px;}}
.icon-265{&::before{background-position:0 -3660px;}}
.icon-266{&::before{background-position:0 -3680px;}}
.icon-267{&::before{background-position:0 -3700px;}}
.icon-268{&::before{background-position:0 -3720px;}}
.icon-27{&::before{background-position:0 -3740px;}}
.icon-28{&::before{background-position:0 -3760px;}}
.icon-29{&::before{background-position:0 -3780px;}}
.icon-3{&::before{background-position:0 -3800px;}}
.icon-30{&::before{background-position:0 -3820px;}}
.icon-31{&::before{background-position:0 -3840px;}}
.icon-32{&::before{background-position:0 -3860px;}}
.icon-33{&::before{background-position:0 -3880px;}}
.icon-34{&::before{background-position:0 -3900px;}}
.icon-35{&::before{background-position:0 -3920px;}}
.icon-36{&::before{background-position:0 -3940px;}}
.icon-37{&::before{background-position:0 -3960px;}}
.icon-38{&::before{background-position:0 -3980px;}}
.icon-39{&::before{background-position:0 -4000px;}}
.icon-4{&::before{background-position:0 -4020px;}}
.icon-40{&::before{background-position:0 -4040px;}}
.icon-41{&::before{background-position:0 -4060px;}}
.icon-42{&::before{background-position:0 -4080px;}}
.icon-43{&::before{background-position:0 -4100px;}}
.icon-44{&::before{background-position:0 -4120px;}}
.icon-45{&::before{background-position:0 -4140px;}}
.icon-46{&::before{background-position:0 -4160px;}}
.icon-47{&::before{background-position:0 -4180px;}}
.icon-48{&::before{background-position:0 -4200px;}}
.icon-49{&::before{background-position:0 -4220px;}}
.icon-5{&::before{background-position:0 -4240px;}}
.icon-50{&::before{background-position:0 -4260px;}}
.icon-51{&::before{background-position:0 -4280px;}}
.icon-52{&::before{background-position:0 -4300px;}}
.icon-53{&::before{background-position:0 -4320px;}}
.icon-54{&::before{background-position:0 -4340px;}}
.icon-55{&::before{background-position:0 -4360px;}}
.icon-56{&::before{background-position:0 -4380px;}}
.icon-57{&::before{background-position:0 -4400px;}}
.icon-58{&::before{background-position:0 -4420px;}}
.icon-59{&::before{background-position:0 -4440px;}}
.icon-6{&::before{background-position:0 -4460px;}}
.icon-60{&::before{background-position:0 -4480px;}}
.icon-61{&::before{background-position:0 -4500px;}}
.icon-62{&::before{background-position:0 -4520px;}}
.icon-63{&::before{background-position:0 -4540px;}}
.icon-64{&::before{background-position:0 -4560px;}}
.icon-65{&::before{background-position:0 -4580px;}}
.icon-66{&::before{background-position:0 -4600px;}}
.icon-67{&::before{background-position:0 -4620px;}}
.icon-68{&::before{background-position:0 -4640px;}}
.icon-69{&::before{background-position:0 -4660px;}}
.icon-7{&::before{background-position:0 -4680px;}}
.icon-70{&::before{background-position:0 -4700px;}}
.icon-71{&::before{background-position:0 -4720px;}}
.icon-72{&::before{background-position:0 -4740px;}}
.icon-73{&::before{background-position:0 -4760px;}}
.icon-74{&::before{background-position:0 -4780px;}}
.icon-75{&::before{background-position:0 -4800px;}}
.icon-76{&::before{background-position:0 -4820px;}}
.icon-77{&::before{background-position:0 -4840px;}}
.icon-78{&::before{background-position:0 -4860px;}}
.icon-79{&::before{background-position:0 -4880px;}}
.icon-8{&::before{background-position:0 -4900px;}}
.icon-80{&::before{background-position:0 -4920px;}}
.icon-81{&::before{background-position:0 -4940px;}}
.icon-82{&::before{background-position:0 -4960px;}}
.icon-83{&::before{background-position:0 -4980px;}}
.icon-84{&::before{background-position:0 -5000px;}}
.icon-85{&::before{background-position:0 -5020px;}}
.icon-86{&::before{background-position:0 -5040px;}}
.icon-87{&::before{background-position:0 -5060px;}}
.icon-88{&::before{background-position:0 -5080px;}}
.icon-89{&::before{background-position:0 -5100px;}}
.icon-9{&::before{background-position:0 -5120px;}}
.icon-90{&::before{background-position:0 -5140px;}}
.icon-91{&::before{background-position:0 -5160px;}}
.icon-92{&::before{background-position:0 -5180px;}}
.icon-93{&::before{background-position:0 -5200px;}}
.icon-94{&::before{background-position:0 -5220px;}}
.icon-95{&::before{background-position:0 -5240px;}}
.icon-96{&::before{background-position:0 -5260px;}}
.icon-97{&::before{background-position:0 -5280px;}}
.icon-98{&::before{background-position:0 -5300px;}}
.icon-99{&::before{background-position:0 -5320px;}}