@font-face {
  font-family: 'icomoon';
  src:  url('../public/fonts/icomoon/icomoon.eot?doc5o6');
  src:  url('../public/fonts/icomoon/icomoon.eot?doc5o6#iefix') format('embedded-opentype'),
    url('../public/fonts/icomoon/icomoon.ttf?doc5o6') format('truetype'),
    url('../public/fonts/icomoon/icomoon.woff?doc5o6') format('woff'),
    url('../public/fonts/icomoon/icomoon.svg?doc5o6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat_service .path1:before {
  content: "\e900";
}
.icon-chat_service .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-support:before {
  content: "\e902";
}
.icon-download:before {
  content: "\e908";
}
.icon-extreme_sport:before {
  content: "\e909";
}
.icon-arrow-back:before {
  content: "\e90a";
}
.icon-active:before {
  content: "\e90b";
}
.icon-adult:before {
  content: "\e90c";
}
.icon-alcohol:before {
  content: "\e90d";
}
.icon-arrow-down:before {
  content: "\e90e";
}
.icon-arrow-next:before {
  content: "\e90f";
}
.icon-arrow-prev:before {
  content: "\e910";
}
.icon-arrow-up:before {
  content: "\e911";
}
.icon-baggage:before {
  content: "\e912";
}
.icon-bike:before {
  content: "\e913";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-edit:before {
  content: "\e916";
}
.icon-gift:before {
  content: "\e917";
}
.icon-handshake:before {
  content: "\e918";
}
.icon-illness:before {
  content: "\e919";
}
.icon-kid:before {
  content: "\e91a";
}
.icon-lawyer:before {
  content: "\e91b";
}
.icon-minus:before {
  content: "\e91c";
}
.icon-mountain:before {
  content: "\e91d";
}
.icon-delay:before {
  content: "\e91e";
}
.icon-plus:before {
  content: "\e91f";
}
.icon-pregnancy:before {
  content: "\e920";
}
.icon-uniE91A:before {
  content: "\e921";
}
.icon-uniE91B:before {
  content: "\e922";
}
.icon-uniE91C:before {
  content: "\e923";
}
.icon-sport:before {
  content: "\e924";
}
.icon-ticket:before {
  content: "\e925";
}
.icon-tooltip:before {
  content: "\e926";
}
.icon-warning:before {
  content: "\e927";
}
.icon-spinner:before {
  content: "\e928";
}
