@font-face {
    font-family: 'Rouble';
    src: local('rouble'), url('~fonts/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('~fonts/rouble.ttf');
    font-weight: normal;
    font-style: normal;
}