$blue: #0084FB;
$yellow: #F5D262;
$black: #36393C;
$dark: #6D849A;
$grey: #A1B4BC;
$lightgrey: #E4EBF0;
$error: #ED4747;
$white: #FFFFFF;

$grey2: rgba(54,57,60,0.4);
$disabled: rgba(54,57,60,0.2);

$grey3: rgba(109,132,154,0.4);
$grey4: rgba(109,132,154,0.6);
$grey5: rgba(109,132,154,0.8);

