@import '~styles/_variables.scss';

.traveler {
    position: relative;
    padding-top: 41px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(54,57,60,0.15);

    
    & input::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }

    &--filled {
        .traveler__icon i {
            color: $blue;
        }
    }

    &:last-child {
        padding-bottom: 17px;
        border: none;
    }    
    &__close-btn {
        display: none;
    }
    &__icon {
        margin-bottom: 8px;
        i {
            color: $dark;
            font-size: 33px;
        }
    }
    &__flex-wrap {
        display: flex;
        margin-bottom: 15px;
        color: $black;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;

        span {
            margin-left: 4px;
            color: $blue;
        }

        .checkbox__label {
            font-weight: 400;
        }
        .checkbox {
            margin-left: 25px;
        }
    }
    &__contacts {
        display: flex;
        .field {
            flex-shrink: 0;
            width: 400px;
            margin-right: 100px;
            margin-bottom: 32px;
        }
        .traveler__phone {
            width: 262px;
        }
    }
    &__inputs {
        display: flex;
        flex-wrap: wrap;

        .field {
            flex-shrink: 0;
            width: 400px;
            margin-right: 100px;
            margin-bottom: 32px;
        }
        .traveler__birthdate {
            width: 235px;
        }
        .field:nth-last-child(1),
        .field:nth-last-child(2) {
            margin-bottom: 0;
        }
        .traveler__passports {
            display: none;
        }
    }
    .traveler__passports-wrap {            
        position: relative;
    }   

    &__passports-label {
        position: absolute;
		top: 20px;
        left: 0;
        padding-bottom: 9px;
        padding-right: 115px;
		color: rgba(54,57,60,0.4);
		font-size: 24px;
		line-height: 34px;
		transition: all ease 0.2s;
        cursor: text;
        z-index: 5;
        
        &--minimized {
            top: 0;
            padding-bottom: 0;
            padding-right: 0;
			font-size: 14px;
			line-height: 20px;
			cursor: default;
        }
    }
    
    .field__error {
        position: absolute;
        top: 0;
        margin-top: 0;
        font-size: 14px;
        line-height: 20px;
    }

    .field--error {
        .field__error {
            display: none;
        }         
    }
    .field--error.field--filled {
        .field__text-box {
            input:focus + .field__label {
                display: none;
            }
        } 
    }
    .field--filled.field--error {
        .field__error {
            display: block;
        }
        .field__label {
            display: none;
        }          
    }

}
.traveler:nth-child(n + 2) {
    .traveler__close-btn {
        position: absolute;
        top: 40px;
        right: 270px;
        display: flex;
        align-items: center;
        color: $grey2;
        font-size: 16px;
        line-height: 22px;
        transition: all ease 0.2s;
        cursor: pointer;
        i {
            margin-right: 10px;
            color: $grey3;
            font-size: 16px;
            transition: all ease 0.2s;
        }
        &:hover {
            color: $black;
            i {
                color: $grey5;
            }
        }
    }
}
.traveler--buyer {
    padding-top: 24px;
    padding-bottom: 16px;
    margin-bottom: 48px;  
    .traveler__inputs {
        .field:nth-child(1),
        .field:nth-child(2) {
            margin-bottom: 63px;
        }
        .traveler__passports {
            display: block;
            position: absolute;
            top: 73px;
            left: 0;
        }
        .traveler__passport {
            position: relative;
            margin-right: 16px;
            color: $blue;
            font-size: 16px;
            line-height: 22px;
            cursor: pointer;
            border-bottom: 1px dashed $blue;
    
            &--active {
                color: $grey2;
                font-size: 16px;
                line-height: 22px;
                border: none;
                cursor: default;
            }
        }
    }     
}