.dateinput {
	position: relative;
	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 56px;
		width: 158px;
		border: 2px solid #0084FB;
		border-radius: 4px;
		padding: 0 14px;
	}
	&__date-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 97px;
	}
	&__date {
		padding-bottom: 4px;
		color: $black;
		font-size: 32px;
		line-height: 42px;
	}
	&__date-inner {
		display: flex;
		flex-direction: column;
		padding-bottom: 2px;
	}
	&__month,
	&__year {
		color: $dark;
		font-size: 14px;
		line-height: 14px;
	}
	&__placeholder {
		color:#afb0b1;
		font-size: 16px;
		line-height: 22px;
	}
	&__input {
		width: 100%;
		height: 100%;
		padding: 0 10px;
		font-size: 14px;
		border : none;
		background: transparent;
		outline: none;
	}
	&__calendar-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 100%;
		font-size: 20px;
		color: $dark;
		cursor: pointer;
	}
	&__calendar-btn--active {
		color: $blue;
	}
	&__label {
		display: block;
		font-size: 14px;
		font-weight: 600;
		// margin-bottom: 7px;
		margin-bottom: 11px;

		.label__caption {
			font-weight: 400;
		}
	}
	&__datepicker-container {
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 999;
	}
	&--error {
		// border-color: $red;
		.dateinput__calendar-btn {
			color: $error;
		}
	}
	&__error {
		margin-top: 3px;
		font-size: 12px;
		// color: #e60a2c;
	}
}