@import '~styles/_variables.scss';

.birth-datepicker {
    position: absolute;
    top: 64px;
    left: 0;        
    width: 398px;
    height: 291px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(54, 57, 60, 0.15);
    z-index: 9;
    &__tabs {
        position: relative;
        display: flex;
        position: relative;
        height: 70px;
        border-bottom: 2px solid $lightgrey;

        &::after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            width: 133px;
            height: 2px;
            background-color: $blue;
            transition: all ease 0.2s;
        }

        &--day {
            &::after {
                left: 0;
            }
        }
        &--month {
            &::after {
                left: 132px;
            }
        }
        &--year {
            &::after {
                left: 265px;
            }
        }
    }
    &__tab {
        flex-grow: 1;
        padding-left: 24px;
        padding-top: 4px;
        line-height: 70px;
        font-size: 20px;
        color: $grey3;
        cursor: pointer;
        transition: all ease 0.2s;

        &:nth-child(2) {
            padding-left: 32px;
        }

        &:nth-child(3) {
            padding-left: 16px;
        }        

        &--active {
            color: $black;
            cursor: default;
        }
    }
    &__days {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 10px 13px;
    }
    &__day {
        width: 42px;
        height: 25px;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 12px;
        color: $black;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    &__months {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        padding: 24px 16px 25px;
    }
    &__month,
    &__year {
        display: flex;
        align-items: center;
        width: 90px;
        height: 25px;
        padding: 0 12px;
        padding-bottom: 2px;
        margin-right: 42px;
        color: $black;
        font-size: 16px;
        line-height: 22px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(n + 4) {
            margin-bottom: 24px;
        }
    }
    &__years {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        padding: 0 16px;
        padding-right: 8px;
        margin-top: 24px;
        margin-bottom: 25px;
        margin-right: 2px;
        max-height: 172px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
            -webkit-border-radius: 1px;
            border-radius: 1px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 3px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-box-shadow: none;
            height: 30px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: #dbdbdb;
        }
    }
    &__date {
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: rgba(109,132,154,0.2);
        }

        &--active {
            color: $white;
            background-color: $blue;

            &:hover {
                color: $white;
                background-color: $blue;
            }
        }        
    }
}