@import '~styles/_variables.scss';

.expand-btn {    
    display: flex;
    align-items: center;
    color: $grey2;
    font-size: 14px;
    line-height: 20px;
    transition: all ease 0.2s;
    cursor: pointer;

    i {
        position: relative;
        width: 14px;
        height: 14px;
        margin-left: 5px;

        &::before,
        &::after {
            position: absolute;
            top: 7px;
            right: 6px;
            content: '';
            width: 8px;
            height: 1px;
            background-color: #9A9C9D;
            transition: all ease 0.2s;
            transform: rotate(45deg);
        }
        &::after {
            right: 0;
            transform: rotate(-45deg);
        }
    }  

    &:hover {
        color: $black;
        i::before,
        i::after {
            background-color: $black;
        }
    }

    &--expanded {
        i {
            margin-top: 2px;
            transform: rotate(180deg);
        }
    }
}