@font-face {
    font-family: 'Segoe UI';
    src: url('./SegoeUILight.eot') format('eot'),
         url('./SegoeUILight.ttf') format('ttf'),
         url('./SegoeUILight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./SegoeUIRegular.eot') format('eot'),
         url('./SegoeUIRegular.ttf') format('ttf'),
         url('./SegoeUIRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('./SegoeUISemiBold.eot') format('eot'),
         url('./SegoeUISemiBold.ttf') format('ttf'),
         url('./SegoeUISemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}