@import '~styles/_variables.scss';

.switcher {
    display: inline-block;
    font-size: 0;
    border: 1px solid #E4EBF0;
    border-radius: 4px;
    //overflow: hidden;

    &__wrap {       
        position: relative;
        display: flex;
        flex-grow: 1;
    }  

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &__option {
        position: relative;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 42px;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        cursor: pointer; 
        z-index: 5;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            width: 1px;
            height: 100%;
            background-color: #E4EBF0;
        }
        &:nth-last-of-type(2) {
            &::after {display: none;}
        }

        &--disabled {
            color: $grey2;
            cursor: default;
        }
    }
    

    &__active-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            transition: left ease 0.5s;
        }
    }

    &__tooltip {
        display: none;
        position: absolute;
        bottom: 47px;
        left: -197px;
        width: 220px;
        padding: 16px;
        color: $dark;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        border-radius: 3px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 10px 0 rgba(54,57,60,0.15);
        z-index: 10;

        &::before {
            position: absolute;
            bottom: -6px;
            right: 17px;
            content: '';
            width: 13px;
            height: 13px;
            background-color: #FFFFFF;
            transform: rotate(45deg);
            box-shadow: 4px 4px 10px 0 rgba(54,57,60,0.15);
        }
        &::after {
            position: absolute;
            bottom: 0px;
            right: 13px;
            content: '';
            width: 22px;
            height: 16px;
            background-color: #FFFFFF;
        }
    }

    .switcher__option--active:nth-child(1) ~ .switcher__active-block {
        &::after {
            left: 0;
            width: 90px;
            height: 100%;
            background-color: #E4EBF0;
        }
    }
    .switcher__option--active:nth-child(2) ~ .switcher__active-block {
        &::after {
            left: 90px;
            width: 90px;
            height: 100%;
            background-color: #E4EBF0;
        }
    }
    .switcher__option--active:nth-child(3) ~ .switcher__active-block {
        &::after {
            left: 180px;
            width: 90px;
            height: 100%;
            background-color: #E4EBF0;
        }
    }    
}

.switcher--currency {
    .switcher__wrap:hover {
        .switcher__tooltip {
            display: block;
        }
    }
    .switcher__option {
        width: 33px;
        height: 30px;
        padding: 8px 0;

        &--disabled {
            cursor: default;
        }
        &--active {
            cursor: default;
        }
    }
    .switcher__option--active:nth-child(1) ~ .switcher__active-block {
        &::after {
            left: 0;
            width: 33px;
        }
    }
    .switcher__option--active:nth-child(2) ~ .switcher__active-block {
        &::after {
            left: 33px;
            width: 33px;
        }
    }
    .switcher__option--active:nth-child(3) ~ .switcher__active-block {
        &::after {
            left: 66px;
            width: 33px;
        }
    }
}