@import '~styles/_variables.scss';

.expand-select {
    position: relative;

    .expand-btn {
        font-size: 16px;
        i {
            margin-left: 8px;
        }
    }
    &__dropdown {
        position: absolute;
        top: 24px;
        left: 0;
        display: inline-block;
        width: auto;
        background-color: #FFFFFF;
        box-shadow: 0 6px 10px 0 rgba(54,57,60,0.15);
        z-index: 10;
    }
    &__option {
        padding: 4px 16px 8px;
        color: #000000;
        white-space: nowrap;
        font-size: 16px;
        line-height: 25px;
        cursor: pointer;
        transition: all ease 0.2s;

        &:hover {
            color: $white;
            background-color: $blue;
        }
    }
}