@import '~styles/_variables.scss';

.select {
    position: relative;
    width: 570px;

    &__wrapper {
        margin-top: 36px;
    }
    &__label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
    }
    &__arrow {
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        margin-top: 1px;

        &::before,
        &::after {
            position: absolute;
            top: 7px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background-color: $blue;
        }
        &::after {
            position: absolute;
            transform: rotate(90deg);
        }
    }
    &__option-wrapper{
        display: inline-block;
        padding: 0;
        line-height: 26px;
        cursor: pointer;

        &:last-child > .select__option {
            //position: relative;
            //margin-top: 8px;
            &::before {
                content: '';
                position: absolute;
                top: 71px;
                left: 16px;
                width: 535px;
                height: 1px;
                background-color: rgba(54,57,60,0.15);
            }
        }
    }
    &__option {
        //position: relative;
        padding: 8px 16px;
        color: #36393C;
        font-size: 20px;
        line-height: 30px;

        &:hover {
            color: $white;
            background-color: $blue;
        }

        &:not(.select__option--default) {
            width: 559px;
        }
        
        // &--default {
        //     position: relative;
        //     display: inline-block;
        //     width: auto;
        //     padding-left: 38px;
        //     padding-right: 12px;
        //     padding-top: 24px;
        //     padding-bottom: 24px;
        //     color: #36393C;
        //     font-size: 16px;
        //     line-height: 22px;

        //     span {
        //         color: $black;
        //         font-family: "Segoe UI";
        //         font-size: 16px;
        //         line-height: 22px;
        //     }
                
        //     &::before{
        //         position: absolute;
        //         top: calc(50% - 10px);
        //         left: 0;
        //         background-color: #E4EBF0;
        //     }
        //     &::after {
        //         position: absolute;
        //         top: calc(50% - 10px);
        //         left: 0;
        //         background-color: transparent;
        //     }
        //     &:hover {
        //         background-color: $white;
        //         color: #36393C;
        //     }

        //     &:nth-child(1) {
        //         padding-left: 54px;
        //         &::before,
        //         &::after {
        //             left: 15px;
        //         }
        //     }
        // }
        // &--default-id36:before {
        //     background-image: url('~img/world.svg');
        // }
        // &--default-id188:before {
        //     background-image: url('~img/shengen.svg');
        // }
        // &--default-id159:before {
        //     background-image: url('~img/usa.svg');
        // }
        // &--default-id163:before {
        //     background-image: url('~img/thailand.svg');
        // }

        // &--first-common {
        //     position: relative;
        //     margin-top: 8px;
        //     &::before {
        //         content: '';
        //         position: absolute;
        //         top: -9px;
        //         width: 535px;
        //         height: 1px;
        //         background-color: rgba(54,57,60,0.15);
        //     }
        // }
    }
    &__default-option {
        position: relative;
        display: inline-block;
        width: auto;
        padding-left: 38px;
        padding-right: 12px;
        padding-top: 24px;
        padding-bottom: 24px;
        color: #36393C;
        font-size: 16px;
        line-height: 22px;

        span {
            color: $black;
            font-family: "Segoe UI";
            font-size: 16px;
            line-height: 22px;
        }
            
        &::before{
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            background-color: #E4EBF0;
        }
        &::after {
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            background-color: transparent;
        }
        &:hover {
            background-color: $white;
            color: #36393C;
        }

        &:nth-child(1) {
            padding-left: 54px;
            &::before,
            &::after {
                left: 15px;
            }
        }
    }
    &__fast-options {
        margin-top: 14px;
        font-size: 13px;
    }
    &__fast-option-text {
        // color: $darkgrey;
    }
    &__fast-option-wrapper {
        display: inline-block;
    }
    &__fast-option {
        display: inline-block;
        transition: color .3s, border-bottom-color .3s;
        margin-right: 17px;
        color: $blue;
        font-size: 16px;
        line-height: 22px;
        border-bottom: 1px dashed $blue;
        cursor: pointer;
    }
    &__fast-option-text {
        margin-right: 8px;
        color: rgba(54,57,60,0.4);
        font-size: 16px;
        line-height: 22px;
    }

    &.is-focused {
        .Select-control {
            // border: 1px solid $blue;
            box-shadow: none;
        }
    }
    &__select-control {
        &--invisible {
            display: none;
        }
    }
}

.Select-arrow-zone {
    position: absolute;
    right: 0;
    bottom: 16px;
    padding-right: 0;
    width: 18px;
}

.Select-menu {
    position: relative;
    //height: 290px;
    min-height: 64px;
    max-height: 290px;   
    padding-right: 2px;
    // overflow: hidden;
    overflow-x: hidden; 
    //margin-top: 5px;
}
.Select-menu-outer {
    position: absolute;
    top: 51px;
    //bottom: -298px;
    //height: 300px;
    min-height: 64px;
    max-height: 290px; 
    overflow-y: auto;
    overflow-x: hidden;    
    padding: 0;   
    padding-right: 3px; 
    //padding-top: 5px;
    // padding-top: 70px;
    // overflow: hidden;
    border: none;
    box-shadow: 0 6px 10px 0 rgba(54,57,60,0.15);
    z-index: 20;

    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        -webkit-border-radius: 1px;
        border-radius: 1px;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: none;
        height: 30px;
        cursor: pointer;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: #dbdbdb;
    }
}

.Select-control {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 52px;
    color: #36393C;
    font-size: 24px;
    line-height: 34px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid $blue;
    background-color: transparent;
    overflow-x: hidden;
    cursor: default;
    & .Select-arrow-zone {
        padding-right: 0;
    }
}

.is-open .Select-control {
    background-color: transparent;
    border-color: $blue;
}

.Select-placeholder {
    padding-left: 0;
    margin-left: -2px;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
    color: $grey2;
}

.Select-noresults {
    font-size: 14px;
}

.Select--multi .Select-value {
    position: relative;
    max-width: calc(100% - 25px);
    height: 50px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 26px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 42px;
	color: $black;
    border: none;
    background: none;
}
.Select--multi .Select-value-label {
    padding: 0;
    padding-right: 11px;
    margin-bottom: 10px;
}
.Select .Select-aria-only {
    display: none;
}
.Select--multi .Select-value-icon {
    font-size: 0;
    border-right: 0;
    padding: 0;
    position: absolute;
    width: 16px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin-top: 11px;
    right: 0;
    &:before,
    &:after {
        content:'';
        position: absolute;
        top: 50%;
        left: -2px;
        width: 20px;
        height: 2px;
        background-color: #C2CBD7; 
        transition: all ease 0.2s;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
    &:hover {
        background: none;

        &::before,
        &::after {
            background-color: #8A9DAE;
        }
    }
}

.Select--multi.has-value .Select-input {
    margin-left: 0px;
}

.Select--multi .Select-input {
    //padding-top: 2px;
    margin-left: 0;
}

.Select-multi-value-wrapper {
    position: absolute;
    right: 18px;
    width: auto;
    min-width: 550px;
    height: 52px;
    white-space: nowrap;  
}

.Select-input {
    height: 48px;
    padding-left: 5px;
}
.Select-input > input {
    height: 42px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 42px;
	color: $black;
}

.is-focused:not(.is-open) > .Select-control {
    border-color: $blue;
    box-shadow: none;
}
.Select-option.is-focused {
    color: #36393C;
    background-color: transparent; 
}
.Select--single > .Select-control .Select-value {
    position: relative;
    display: inline-block;
    line-height: 28px;
    vertical-align: top;
    padding: 0;
    padding-left: 5px;
    max-width: calc(100% - 20px);
}

.select--error .Select:not(.is-focused){
    .Select-placeholder {
        color: $error;
    }
}

@media screen\0 {
    .Select--multi .Select-value-icon,
    .Select--multi .Select-value-label {
        vertical-align: top;
    }
}


.ReactVirtualized__Grid {
    overflow-x: hidden !important;
}