.range-dateinput {
	position: relative;
	&__label {
		display: block;
		margin-bottom: 11px;
		.label {
			justify-content: flex-start;
		}
		.label__caption {
			color: rgba(54,57,60,0.4);
			font-size: 16px;
			line-height: 22px;
		}		
	}
	&__input-group {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}
	&__placeholder {
		color:#afb0b1;
		font-size: 16px;
		line-height: 22px;
	}
	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 56px;
		width: 158px;
		border: 2px solid $blue;
		border-radius: 4px;
		padding: 0 14px;
	}
	&__field-to {
		padding-bottom: 0px;
		padding-top: 2px;
	}
	&__date-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 97px;
	}
	&__date {
		padding-bottom: 4px;
		color: $black;
		font-size: 32px;
		line-height: 42px;
	}
	&__date-inner {
		display: flex;
		flex-direction: column;
		padding-bottom: 2px;
	}
	&__month,
	&__year {
		color: $dark;
		font-size: 14px;
		line-height: 14px;
	}
	&__separator {
		width: 32px;
		height: 2px;
		margin: 0 16px;
		background-color: $dark;
	}
	&__calendar-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 100%;
		font-size: 20px;
		color:  $dark;
		cursor: pointer;
	}
	&__calendar-btn--active {
		color: $blue;
	}
	&__datepicker-container {
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 999;
	}
	&__datepicker-error {
		margin-top: 5px;
		color: #e60a2c;
		font-size: 13px;
	}
	&__total {
		margin-left: 15px;
		color: #a7b5c2;
		font-size: 18px;
		line-height: 26px;
	}
	&--error .range-dateinput__field-to {
		.range-dateinput__calendar-btn,
		.range-dateinput__placeholder,
		.range-dateinput__date,
		.range-dateinput__month,
		.range-dateinput__year {
			color: $error;
		}
	}
}