@import '~styles/_variables.scss';

.button {
	width: 100%;
	height: 56px;
	font-weight: 600;
	font-size: 18px;
	color: #36393C;
	text-align: center;
	border-radius: 4px;	
	border: none;	
	transition: 0.4s;
	cursor: pointer;
	outline: none;


	&--primary {
		background-color: #F5D262;
		&:hover, &:focus {
			background-color: #EFC644;
		}
	}	
	&--secondary {
		color: #000;
		background: #fff;
		&:hover, &:focus {
		}
	}
	&--disabled {
		cursor: not-allowed;
		background-color: rgba(109,132,154,0.2);
		color: #999EA4;
		&:hover, &:focus {
			background-color: rgba(109,132,154,0.2);
			color: #999EA4;
		}
	}
	&--md {
		width: 270px;
	}
	&--size {
		width: 130px;
		height: 48px;
		padding-bottom: 2px;
	}

	&--170 {
		width: 170px;
	}

}