.travel-response {
    position: relative;
    padding: 48px 30px 20px;
    background-color: #FBFBFF;

    .container {
        background-color: #FBFBFF;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
    }

    &__link {
        line-height: normal;
    }

    &__wrapper {
        display: flex;
    }

    &__policy-info {
        width: 570px;
        margin-right: 213px;
    }

    &__header {
        margin: 0;
        margin-bottom: 32px;
        color: #36393C;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    &__insurance-company-info {
        width: 330px;
    }

    &__policy-info-block {
        display: flex;
        margin-bottom: 8px;

        .price-formater__whole,
        .price-formater__decimal,
        .price-formater__currency {
            font-weight: 400;
            color: #36393C;
            font-size: 16px;
            line-height: 22px;
        }
        .price-formater__decimal {
            padding: 0;
        }
        .rouble {
            font-weight: 400;
        }

        &:last-child {
            margin-bottom: 40px;
        }
    }

    &__policy-info-title {
        width: 170px;
        margin-right: 30px;
        color: rgba(54,57,60,0.4);
        font-size: 16px;
        line-height: 22px;
    }

    &__policy-info-value, &__email-label {
        font-size: 16px;
        line-height: 22px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 31px;
        margin-bottom: 33px;
        border-bottom: 1px solid rgba(54,57,60,0.15);
    }

    &__download-button {
        width: 300px;
        i {
            margin-right: 12px;
            font-size: 18px;
        }
    }

    &__new-insurance-button {
        width: 254px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid $lightgrey;
        background: transparent;
        transition: 0.4s;

        &:hover {
            border-color: $grey3;
        }
    }

    &__email-label {
        margin-bottom: 17px;
    }

    &__edit-email {
        .button--170 {
            font-size: 16px;
            background-color: #E1E6EA;
            color: $black;
            &:hover, &:focus {
                background-color: #E1E6EA;
                color: $black;
            }
        }
    }

    &__edit-field {
        margin-bottom: 24px;
    }

    &__insurer-email {
        display: flex;

        .link {
            &:hover {
                color: #0084FB;
            }
        }

        .icon-edit {
            margin-left: 8px;
            font-size: 20px;
            color: #ACADB1;
            cursor: pointer;
        }
    }

    &__insurance-company-info {
        .link {
            font-weight: 400;
            margin-left: 17px;
        }
    }

    &__company-logo {
        display: flex;
        align-items: center;
        width: 200px;
        height: 62px;
        margin-bottom: 33px;
        margin-left: 18px;

        img {
            //width: 100%;
            height: 100%;
        }

        &--renins {
            img {
                width: 165px;
                height: 57px;
            }
        }
        &--alpha {
            img {
                width: 200px;
                height: 44px;
            }
        }
        &--guideh {
            img {
                width: 124px;
                height: 46px;
            }
        }
        &--soglasie {
            img {
                width: 185px;
                height: 40px;
            }
        }
        &--absolut {
            img {
                width: 200px;
                height: 46px;
            }
        }
        &--tinkoff {
            img {
                width: 184px;
                height: 60px;
            }
        }
        &--allianz {
            img {
                width: 180px;
                height: 48px;
            }
        }
        &--liberty {
            img {
                width: 134px;
                height: 62px;
            }
        }
        &--ingos {
            img {
                width: 184px;
                height: 62px;
            }
        }
        &--vtb {
            img {
                width: 108px;
                height: 40px;
            }
        }
        &--rgs {
            img {
                width: 185px;
                height: 21px;
            }
        }
        &--zetta {
            img {
                width: 153px;
                height: 54px;
            }
        }
        &--uralsib {
            img {
                width: 179px;
                height: 55px;
            }
        }
        &--insurion {
            img {
                width: 185px;
                height: 39px;
            }
        }
    }

    &__insurance-company-phone {
        margin-bottom: 4px;
        font-size: 16px;	
        font-weight: 600;	
        line-height: 22px;
        margin-left: 17px;
    }
   
    &__insurance-pic {
        width: 275px;
        height: 198px;
        margin-top: 39px;
        margin-bottom: 30px;
    }
    &__insurance-message {
        width: 270px;
        padding-left: 17px;
        color: rgba(54,57,60,0.4);
        font-size: 14px;
        line-height: 20px;
    }
}