@keyframes digital-animation {
	0% { transform: translateY(0); }
	11% { transform: translateY(-1em); }
	22% { transform: translateY(-2em); }
	33% { transform: translateY(-3em); }
	44% { transform: translateY(-4em); }
	55% { transform: translateY(-5em); }
	66% { transform: translateY(-6em); }
	77% { transform: translateY(-7em); }
	88% { transform: translateY(-8em); }
	100% { transform: translateY(-9em); }
}

@keyframes end-price-animation {
	0% { top: 1em; }
	100% { top: 0; }
}

.price-formater {
	display: inline-flex;
	align-items: flex-end;

	&__wrap {
		display: flex;
		align-items: baseline;
	}
	&__whole {
		display: inline-block;
		vertical-align: bottom;
		color: #36393C;
		font-size: 20px;
		font-weight: 600;
		line-height: 22px;
		overflow: hidden;
	}
	&__decimal {
		display: inline-block;
		vertical-align: bottom;
		overflow: hidden;
		padding-top: 5px;
		font-size: 14px;
		font-weight: 600;
	}
	&__currency {
		margin-left: 4px;
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
	}
	&__was-animated {
		position: relative;
		animation: 1s linear -0.3s end-price-animation;

		&:nth-of-type(1) {
			animation-duration: 0.6s;
		}
		&:nth-of-type(2) {
			animation-duration: 0.5s;
		}
		&:nth-of-type(3) {
			animation-duration: 0.4s;
		}
		&:nth-of-type(4) {
			animation-duration: 0.3s;
		}
	}
	&__with-animation {
		position: relative;
		display: inline-block;
		height: 1em;
		&:nth-of-type(1) .animation-trip {
			animation-duration: 6s;
		}
		&:nth-of-type(2) .animation-trip {
			animation-duration: 5s;
		}
		&:nth-of-type(3) .animation-trip {
			animation-duration: 4s;
		}
		&:nth-of-type(4) .animation-trip {
			animation-duration: 3s;
		}
	}
}

.animation-trip {
	display: flex;
	flex-direction: column;
	animation: linear -.1s digital-animation;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-duration: 3s;
}