@import "../../../styles/_variables.scss";

.range-calendar {
    position: relative;
    font-family: 'Segoe UI';

    &--error {
        .range-calendar__placeholder {
            color: $error;
        }
        .range-calendar__value-from .range-calendar__calendar-btn--error {
            color:  $dark;            
        }
        .range-calendar__value-from .range-calendar__calendar-btn--active {
            color:  $blue;            
        }
    }

    &__values-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
    }

    &__calendar-wrapper {
        &--hidden {
            display: none;
        }
    }
    &__values-main-wrapper {
        display: flex;
        align-items: center;
        height: 56px;
        margin-top: 11px;
        margin-bottom: 25px;
    }
    &__values-wrapper {
        margin-bottom: 0;
    }
    &__value-from,
    &__value-to {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        width: 158px;
        border: 2px solid $blue;
        border-radius: 4px;
        padding: 0 14px;
    }
    &__date {
		padding-bottom: 4px;
		color: $black;
		font-size: 32px;
		line-height: 42px;
	}
	&__date-inner {
		display: flex;
		flex-direction: column;
		padding-bottom: 2px;
	}
	&__month,
	&__year {
		color: $dark;
		font-size: 14px;
		line-height: 14px;
	}
    &__separator {
        width: 32px;
        height: 2px;
        margin: 0 16px;
        background-color: $dark;
    }
    &__date-wrap {
        display: flex;
		align-items: center;
		justify-content: space-between;
		width: 97px;
    }
    &__placeholder {
        color: $grey2;
		font-size: 16px;
		line-height: 22px;
    }
    &__calendar-btn {
        display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 100%;
		font-size: 20px;
		color:  $dark;
        cursor: pointer;
        transition: all ease 0.2s;
        
        &--active {
            color:  $blue;
        }
        &--error {
            color:  $error;
        }
    }
    &__calendar {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;        
        width: 400px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 10px 0 rgba(54, 57, 60, 0.15);
        z-index: 999;
    }
    &__total {
		margin-left: 15px;
		color: $grey4;
		font-size: 18px;
		line-height: 26px;
	}
    &__tabs {
        position: relative;
		display: flex;

		&::before {
			position: absolute;
			left: 0;
			bottom: 0;
			content: '';
			height: 2px;
			width: 200px;
			background-color: $blue;
			transition: all ease 0.2s;
		}

		&--to {
			&::before {
				left: 200px;
			}
		}
    }
    &__tab {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 50%;
		padding: 16px 24px;
		color: $disabled;
		font-family: "Segoe UI";
		font-size: 20px;
		line-height: 30px;
		border-bottom: 2px solid #E4EBF0;
		transition: all ease 0.2s;
		cursor: pointer;

		&--active {
			color: $black;
		}
	}
}

.react-datepicker {
    position: relative;
    display: block;
    width: 400px;	
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 10px 0 rgba(54,57,60,0.15);
    
    &__navigation {
        position: absolute;
        top: 20px;
        display: block;       
        width: 26px;
        height: 26px;
        background-color: transparent;
        background: none;
        line-height: normal;
        border: none;
        cursor: pointer;

        &--previous {
            left: 24px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 14px;
                left: 8px;
                width: 8px;
                height: 2px;
                background-color: #9A9C9D;
                transform: rotate(45deg);
            }
            &:after {
                top: 10px;
                transform: rotate(-45deg);
            }
        }
        &--next {
            right: 24px;
            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 10px;
                left: 10px;
                width: 8px;
                height: 2px;
                background-color: #9A9C9D;
                transform: rotate(45deg);
            }
            &:after {
                top: 14px;
                transform: rotate(-45deg);
            }
        }
    }
    &__month-container {
        width: 100%;
        padding: 20px 25px 16px;
        background-color: #fff;
    }
    &__header {
        padding: 0;
        border: none;
        background-color: #fff;
    }
    &__current-month {
        height: 26px;
        margin-bottom: 16px;
        color: $black;
        font-family: 'Segoe UI';
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        text-transform: capitalize;
        background-color: #fff;
    }
    &__day-names {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
    }
    &__day-name {
        display: block;
        width: 42px;
        height: 25px;
        margin: 0;
        color: rgba(54,57,60,0.4);
        font-family: 'Segoe UI';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
    }
    &__month {
        margin: 0;

        &--selecting-range {
            .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range) {
                &::before {
                    display: none;
                }
                background-color: transparent;
                color: $black;
            }
        }
    }
    &__week {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 12px;	




        .react-datepicker__day:nth-child(1).react-datepicker__day--in-range {
            &::before {
                left: 4px;
                width: 46px;
                border-radius: 4px 0 0 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 46px;
                    border-radius: 4px 0 0 4px;
                }
            }
        }

        .react-datepicker__day:nth-child(1).react-datepicker__day--range-end {
            &::before {
                left: 4px;
                width: 42px;
                border-radius: 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 42px;
                    border-radius: 4px;
                }
            }
        }

        .react-datepicker__day:nth-child(7).react-datepicker__day--in-range {
            &::before {
                left: 0;
                right: 4px;
                width: 46px;
                border-radius: 0 4px 4px 0;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 0;
                    right: 4px;
                    width: 46px;
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        .react-datepicker__day:nth-child(7).react-datepicker__day--range-start {
            &::before {
                left: 4px;
                width: 42px;
                border-radius: 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 42px;
                    border-radius: 4px;
                }
            }
        }

        .react-datepicker__day:nth-child(1).react-datepicker__day--in-selecting-range {
            &::before {
                left: 4px;
                width: 46px;
                border-radius: 4px 0 0 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 46px;
                    border-radius: 4px 0 0 4px;
                }
            }
        }
        .react-datepicker__day:nth-child(1).react-datepicker__day--selecting-range-end {
            &::before {
                left: 4px;
                width: 42px;
                border-radius: 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 42px;
                    border-radius: 4px;
                }
            }
        }
        .react-datepicker__day:nth-child(7).react-datepicker__day--in-selecting-range {
            &::before {
                left: 4px;
                width: 42px;
                border-radius: 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 42px;
                    border-radius: 4px;
                }
            }
        }

        .react-datepicker__day--in-selecting-range ~ .react-datepicker__day:nth-child(7).react-datepicker__day--in-selecting-range {
            &::before {
                left: 0;
                width: 46px;
                border-radius: 0 4px 4px 0;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 0;
                    width: 46px;
                    border-radius: 0 4px 4px 0;
                }
            }
        }

        .react-datepicker__day:nth-child(7).react-datepicker__day--in-selecting-range {
            &::before {
                left: 4px;
                width: 42px;
                border-radius: 4px;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    left: 4px;
                    width: 42px;
                    border-radius: 4px;
                }
            }
        }

        .react-datepicker__day--selected.react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range.react-datepicker__day--selecting-range-start + .react-datepicker__day:nth-child(7).react-datepicker__day--in-selecting-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 52px;
                left: -6px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 52px;
                    left: -6px;
                    border-radius: 0 4px 4px 0;
                    background-color: $blue;
                }
            }
        } 
    }

    &__day {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 50px;
        height: 25px;	
        margin: 0;
        padding-bottom: 2px;
        color: $black;
        font-family: 'Segoe UI';
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		border-radius: 4px;
        cursor: pointer;
        z-index: 0;

        &::before {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 4px;
            content: '';
            width: 42px;
            height: 100%;
            background-color: $disabled;
            border-radius: 4px;
            z-index: -1;
        }

        &:hover {
            color: $black;
            
            &::before {
                opacity: 1;
            }
        }  

        &--disabled {
            cursor: default;
            color: $disabled;
            &:hover {
                color: $disabled;
                background-color: transparent;
                &::before {
                    display: none;
                }
            }
        }

        &--today {
            color: $blue;
            background-color: transparent;
            &:hover {
                color: $blue;
                background-color: transparent;
            }
        }

        &--selected {
            color: $white;
            &::before {                
                opacity: 1;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
            }
        }

        &--in-range {
            color: $white;
            &::before {                
                opacity: 1;
                width: 100%;
                left: 0;
                border-radius: 0;
                background-color: $blue;
            }
        }

        &--range-start.react-datepicker__day--in-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 4px;
                border-radius: 4px 0 0 4px;
                background-color: $blue;
            }
        }

        &--range-end.react-datepicker__day--in-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 0px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
        }

        &--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range {
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
        }

        &--range-end.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 100%;
                left: 0px;
                border-radius: 0;
                background-color: $blue;
            }
        }

        &--range-end.react-datepicker__day--in-range.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 0px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
        }

        // in selecting range:

        &--in-selecting-range {
            color: $white;
            &::before {                
                opacity: 1;
                width: 100%;
                left: 0;
                border-radius: 0;
                background-color: $blue;
            }
        }

        &--selected.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-start {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 4px;
                border-radius: 4px 0 0 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 46px;
                    left: 4px;
                    border-radius: 4px 0 0 4px;
                    background-color: $blue;
                }
            }
        }

        &--in-selecting-range.react-datepicker__day--selecting-range-start {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 4px;
                border-radius: 4px 0 0 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 46px;
                    left: 4px;
                    border-radius: 4px 0 0 4px;
                    background-color: $blue;
                }
            }
        }

        &--in-selecting-range ~ .react-datepicker__day--range-start.react-datepicker__day--in-selecting-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 100%;
                left: 0;
                border-radius: 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 100%;
                    left: 0;
                    border-radius: 0;
                    background-color: $blue;
                }
            }
        }

        &--in-selecting-range ~ .react-datepicker__day--in-range.react-datepicker__day--in-selecting-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 100%;
                left: 0;
                border-radius: 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 100%;
                    left: 0;
                    border-radius: 0;
                    background-color: $blue;
                }
            }
        }

        &--in-selecting-range ~ .react-datepicker__day--in-range.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 0px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 46px;
                    left: 0px;
                    border-radius: 0 4px 4px 0;
                    background-color: $blue;
                }
            }
        }

        &--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 0;
                right: 4px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 46px;
                    left: 0;
                    right: 4px;
                    border-radius: 0 4px 4px 0;
                    background-color: $blue;
                }
            }
        }

        .react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 46px;
                left: 0;
                right: 4px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 46px;
                    left: 0;
                    right: 4px;
                    border-radius: 0 4px 4px 0;
                    background-color: $blue;
                }
            }
        }

        &--selecting-range-start.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 42px;
                    left: 4px;
                    border-radius: 4px;
                    background-color: $blue;
                }
            }
        }

        &--range-start.react-datepicker__day--selecting-range-start.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 42px;
                    left: 4px;
                    border-radius: 4px;
                    background-color: $blue;
                }
            }
        }

        &--range-end.react-datepicker__day--in-range.react-datepicker__day--selecting-range-start.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 42px;
                    left: 4px;
                    border-radius: 4px;
                    background-color: $blue;
                }
            }
        }

        &--selected.react-datepicker__day--selecting-range-start.react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 42px;
                    left: 4px;
                    border-radius: 4px;
                    background-color: $blue;
                }
            }
        }

        &--selected.react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range.react-datepicker__day--selecting-range-end) {
            color: $white;
            &::before {
                opacity: 1;
                width: 42px;
                left: 4px;
                border-radius: 4px;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 42px;
                    left: 4px;
                    border-radius: 4px;
                    background-color: $blue;
                }
            }
        }

        &--selected.react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range.react-datepicker__day--selecting-range-start + .react-datepicker__day--in-selecting-range {
            color: $white;
            &::before {
                opacity: 1;
                width: 58px;
                left: -6px;
                border-radius: 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 58px;
                    left: -6px;
                    border-radius: 0;
                    background-color: $blue;
                }
            }
        }

        &--selected.react-datepicker__day--range-start.react-datepicker__day--range-end.react-datepicker__day--in-range.react-datepicker__day--selecting-range-start + .react-datepicker__day--selecting-range-end {
            color: $white;
            &::before {
                opacity: 1;
                width: 52px;
                left: -6px;
                border-radius: 0 4px 4px 0;
                background-color: $blue;
            }
            &:hover,
            &:active {
                color: $white;
                &::before {
                    opacity: 1;
                    width: 52px;
                    left: -6px;
                    border-radius: 0 4px 4px 0;
                    background-color: $blue;
                }
            }
        }
        
    }
}