@import '~styles/_variables.scss';

.steps {
    &__progressbar {
        position: relative;
        width: 100%;
        height: 6px;
        margin-bottom: 17px;
        border-radius: 3px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 1px 0 rgba(54,57,60,0.2);

        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;            
            width: 0;
            height: 6px;
            border-radius: 3px;
            background-color: $blue;
            transition: width ease 0.7s;
        }

        &--first-step {
            &::after {
               width: 25%;
            }            
        }
        &--second-step {
            &::after {
               width: 50%;
            } 
        }
        &--third-step {
            &::after {
               width: 75%;
            } 
        }
        &--fourth-step {
            &::after {
               width: 100%;
            } 
        }
    }
    &__titles {
        position: relative;
        display: flex;
    }
    &__title {
        position: relative;
        display: flex;
        width: 25%;
        color: $grey4;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;

        i {
            visibility: hidden;
            position: relative;
            top: -1px;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            border-radius: 50%;            
            background-color: $grey3;
            transition: opacity ease 0.2s;

            &::before,
            &::after {
                position: absolute;
                content: '';
                top: 11px;
                left: 3px;
                background-color: #FFFFFF;
                width: 6px;
                height: 2px;
                transform: rotate(45deg);
            }
            &::after {
                top: 9px;
                left: 6px;
                width: 12px;
                height: 2px;
                transform: rotate(-45deg);
            }
        }
    }
    &__title:nth-child(n + 2) {
        justify-content: center;
        padding-left: 0;
        
        &::before {
            left: -10px;
        }
    }
    &__title:nth-child(2) {
        justify-content: flex-start;
        padding-left: 34px;
        
        &::before {
            left: -10px;
        }
    }

    &__title--active {
        font-weight: 600;
        color: $black;
        letter-spacing: 0.1px;
        &::before {
            width: 100%;
        }

        i {
           visibility: visible;
        }
    }

    &__title--passed {
        font-weight: 600;
        color: $black;
        letter-spacing: 0.1px;
    
        &::before {
            width: calc(100% + 10px);
        }
        i {
            visibility: visible;
            background-color: $blue;
        }
    }  

    &__title--passed + &__title--active {
        font-weight: 600;
        color: $black;
        letter-spacing: 0.1px;
        &::before {
            left: -10px;
            width: calc(100% + 10px);
        }
        i {
            visibility: visible;
        }
    }
   
    &__title--done {
        font-weight: 600;
        color: $black;
        letter-spacing: 0.1px;
        &::before {
            width: calc(100% + 10px);
        }

        i {
            visibility: visible;
            background-color: $yellow;
        }
    }

}