@import '~styles/_variables.scss';

.birthdate-input {
    &__wrapper {
        position: relative;
    }
    &__calendar-btn {
        position: absolute;
        bottom: 18px;
        right: 0;
		width: 20px;
		height: 20px;
		font-size: 20px;
		color:  $dark;
        cursor: pointer;
        transition: all ease 0.2s;
        z-index: 2;        
        
        &--active {
            color:  $blue;
        }
    }
    & input::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
}

.field--error:not(.field--focused) .birthdate-input__calendar-btn {
    color: $error;
}