@import '~styles/_variables.scss';

.age-field {
	position: relative;
	width: 183px;
	margin-right: 40px;
	flex-shrink: 0;

	.icon-adult {
		position: absolute;
		bottom: 13px;
		left: 0;
		font-size: 32px;
		color: $dark;
		z-index: 5;			
	}
	.icon-kid {
		position: absolute;
		bottom: 15px;
		left: 0px;
		font-size: 30px;
		color: $dark;
		z-index: 5;			
	}

	.icon-close {
		position: absolute;
		top: calc(50% - 8px);
		right: 0;
		font-size: 16px;
		color: $grey3;
		transition: all ease 0.2s;	
		cursor: pointer;
		&:hover {
			color: $grey5;
		}
	}

	&__input {
		width: 100%;
		padding-left: 45px;
		padding-bottom: 8px;
		color: $black;
		font-size: 24px;
		line-height: 34px;
		border-radius: 0;
		outline: none;
		border: none;
		border-bottom: 2px solid $blue;
		background-color: transparent;
		transition: 0.4s border-color;
		transition: 0.4s border-color;
	}
	&__text-box {
		position: relative;
	}
	&__error {
		// position: absolute;
		top: calc(100% + 3px);
		left: 0;
		margin-top: 3px;
		font-size: 12px;
		color: $error;
	}
	&--error:not(.age-field--focused) {
		.age-field__input {	
			&::-moz-placeholder { color: $error; }
			&::-webkit-input-placeholder { color: $error; }
			&:-ms-input-placeholder { color: $error; }
			&::-ms-input-placeholder { color: $error; }
			&::placeholder { color:  $error; } 
		}
		i {
			color: $error;
		}
	}
	&--filled {
		i {
			color: $blue;
		}
	} 
}

.age-field--index {
	.icon-adult {
		bottom: 14px;
    	left: -2px;
		font-size: 34px;
	}
	.age-field__input {
		font-size: 32px;
    	line-height: 42px;
	}
}