@import '~styles/_variables.scss';


.field {
	position: relative;
	&--filled,
	&--focused {
		.field__label {
			top: 0;
			font-size: 14px;
			line-height: 20px;
			cursor: default;

			span, i {
				font-size: 14px;
				line-height: 20px;
				cursor: default;
			}
		}
	}
	&__label {
		position: absolute;
		top: 20px;
		left: 0;
		color: rgba(54,57,60,0.4);
		font-size: 24px;
		line-height: 34px;
		transition: all ease 0.2s;
		cursor: text;

		span {
			color: rgba(54,57,60,0.4);
			font-size: 16px;
			line-height: 22px;
			transition: all ease 0.2s;
		}
		i {
			color: rgba(54,57,60,0.4);
			font-size: 24px;
			font-style: normal;
			line-height: 34px;
			transition: all ease 0.2s;
		}
	}
	&__input,
	&__passport-input {
		position: relative;
		width: 100%;
		padding-bottom: 8px;
		color: #36393C;
		font-size: 24px;
		line-height: 34px;
		outline: none;
		border: none;
		border-bottom: 2px solid #0084FB;
		background-color: transparent;
		transition: 0.4s border-color;
		z-index: 1;
	}
	&__text-box {
		position: relative;
		padding-top: 20px;
	}
	&__subholder {
		padding-top: 5px;
		font-size: 14px;
	}
	&__error {
		// position: absolute;
		top: calc(100% + 3px);
		left: 0;
		margin-top: 3px;
		font-size: 12px;
		color: $error;
	}
	&--error {
		.field__label {
			color: $error;			
			span, i {
				color: $error;
			}
		}	
	}
	&--error:not(.field--focused) {
		.field__input {
			color: $error;	
		}
	}
	&--error:not(.field--filled) {
		.field__label {
			color: $error;			
			span, i {
				color: $error;
			}
		}
	}

}