.insurance-option {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 270px;
	height: 110px;	
	padding: 16px 24px;
	border: 1px solid #E4EBF0;
	background-color: $white;
	border-radius: 4px;
	cursor: ponter;

	&__wrap {
		display: flex;
		justify-content: space-between;

		i {
			font-size: 35px;
			color: $yellow;
		}
	}

	&__title {
		display: block;
		width: 166px;
		color: #36393C;
		font-size: 16px;
		line-height: 20px;
	}
	&__price {
		display: flex;
		align-items: center;

		.price-formater {
			display: flex;
			align-items: baseline;
		}
	}
	&__less,
	&__more {
		display: none;
	}
	&__price-inner {
		.price-formater {
			display: inline;			
		}	
		.price-formater__whole,
		.price-formater__currency {
			margin-left: 0;
			color: rgba(54,57,60,0.4);
			font-size: 16px;
			line-height: 22px;
		}	
	}
	&__from {
		display: none;
	}


}

.insurance-option--checked {
	border-color: $blue;
	background-color: $blue;
	box-shadow: 0 5px 10px 0 rgba(0,132,251,0.3);

	.insurance-option__title {
		color: #FFFFFF;
	}
		
	.insurance-option__price {
		.price-formater {			
			margin: 0 15px;
		}
		.price-formater__whole,
		.price-formater__currency {
			color: #FFFFFF;
			font-size: 20px;
			line-height: 24px;
		}	
	}
	.insurance-option__less,
	.insurance-option__more {
		display: block;
		margin-top: 5px;
		cursor: pointer;

		i {
			color: #FFFFFF;
		}
	}
}

// .insurance-option {
// 	&__name {
// 		display: flex;
		
// 	}
// 	&__checkbox {
// 		margin-right: 10px;
// 	}

// 	&__label {
// 		&-caption {
// 			cursor: pointer;
// 			white-space: pre-line;
// 			line-height: 17px;
// 		}
// 		& > * {
// 			display: inline;
// 			vertical-align: baseline;
// 		}
// 	}
// 	&__tooltip {
// 		margin-left: 5px;
// 	}
// 	&__range {
// 		margin-left: 20px;
// 		margin-top: 10px;
		
// 	}

// 	&__single-option {
// 		border: none;
// 		background-color: #f0f0f0;
// 		text-align: center;
// 		padding: 0 10px;
// 		height: 28px;
// 		line-height: 28px;
// 		font-weight: 700;
// 		color: #3e3e3e;
// 		width: auto;
// 		display: inline-block;
// 		margin-left: 22px;
// 		border-radius: 4px;
// 		margin-top: 5px;

// 		.price-formater {
// 			align-items: center;
// 		}
// 	}
// }