@import '~styles/_variables.scss';

.plane-preloader {
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 52px;
    padding: 23px 0;
    overflow: hidden;    
    background-color: transparent;

    &__yellow-block {
        position: relative;
        width: 100%;
        height: 6px;
        border-radius: 0px 10px 10px 0;
        background-color: $yellow;        
        transition: all 1s ease;

        &--done {
            border-radius: 0;
            box-shadow: 0 5px 10px 0 rgba(54,57,60,0.1);
        }
    }
    &__plane-pic {
        position: absolute;
        top: -23px;
        right: -42px;
        width: 54px;
        height: 52px;
        z-index: 5;         
        opacity: 1;
        transition: right 4s ease;

        &--hidden {
            right: -50px;
        }
    }
}