@import '~styles/_variables.scss';

.risk-checkbox {
	position: relative;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 270px;
	height: 110px;	
	padding: 16px 24px 14px;
	margin-bottom: 16px;
	border: 1px solid $lightgrey;
	background-color: transparent;
	border-radius: 4px;
	transition: all ease-in-out 0.2s;
	cursor: pointer;

	&:hover {
		border-color: $grey3;
	}
	
	&--disabled {
		opacity: 0.5;
		cursor: not-allowed;
		&:hover {
			border-color: $grey3;
		}
	}

	// &:hover {
	// 	background-color: $blue;
	// 	border-color: $blue;
	// 	box-shadow: 0 5px 10px 0 rgba(0,132,251,0.3);

	// 	.risk-checkbox__heading {
	// 		color: $white;
	// 	}
	// 	.tooltip__icon {
	// 		color: $white;
	// 		border-color: $white;
	// 	}
	// 	.risk-checkbox__coverage-from,
	// 	.price-formater__whole,
	// 	.price-formater__currency {
	// 		color: #FFFFFF;
	// 	}
	// }
    
    &__tooltip-wrapper {
        display: inline-block;
	}

	&__heading {
		color: #36393C;
		font-size: 16px;
		line-height: 20px;
		transition: all ease-in-out 0.2s;
	}

	&__title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__name-row {
		position: relative;		
		padding-right: 28px;
		.tooltip {
			position: absolute;
			top: -2px;
			right: 0;
		}
	}
	
	&__flex-wrap {
		position: relative;
		display: flex;

		.icon-delay,
		.icon-baggage,
		.icon-extreme_sport,
		.icon-active,
		.icon-alcohol,
		.icon-bike,
		.icon-handshake,
		.icon-illness,
		.icon-lawyer,
		.icon-mountain,
		.icon-pregnancy,
		.icon-sport,
		.icon-ticket {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 40px;
			color: $yellow;
		}
		.icon-delay {
			top: -1px;
			right: 2px;
			font-size: 35px;
		}
		.icon-baggage {
			top: 0px;
			right: -1px;
		}
		.icon-mountain {
			top: 0px;
			right: -2px;
		}
		.icon-handshake {
			top: -5px;
			right: -2px;
		}
		.icon-lawyer {
			top: 0px;
			right: -2px;
		}
		.icon-ticket {
			top: 0px;
			right: -2px;
		}
		.icon-pregnancy {
			top: 0px;
			right: 0px;
		}
		.icon-alcohol {
			top: 0px;
			right: -1px;
		}
		.icon-sport {
			top: 0px;
			right: -2px;
		}
		.icon-illness {
			top: 0px;
			right: -1px;
		}
		.icon-active {
			top: 0px;
			right: -4px;
		}
		.icon-bike {
			top: 0;
			right: -2px;
		}
		.icon-extreme_sport {
			top: 0px;
			right: -2px;
		}	
	}

	.price-formater__whole,
	.price-formater__currency {
		font-weight: 400;
		//transition: all ease-in-out 0.2s;
	}

	&__coverage-from {
		color: rgba(54,57,60,0.4);
		font-size: 16px;
		line-height: 22px;
		opacity: 0;
		
		.price-formater__whole,
		.price-formater__currency {
			color: rgba(54,57,60,0.4);
			font-size: 16px;
			line-height: 22px;
		}

		&--visible {
			opacity: 1;
			transition: opacity ease 0.6s;
		}
	}
	&__coverage-with-controls {
		position: absolute;
		left: 25px;
		bottom: 13px;
		display: flex;
		align-items: center;
		opacity: 0;
		transition: all ease 0s;
			

		.price-formater__whole,
		.price-formater__currency {
			color: #FFFFFF;
			font-size: 16px;
			line-height: 22px;
		}
		.price-formater {
			margin: 0 13px;
		}

		&--visible {
			left: 25px;
    		bottom: 17px;
			opacity: 1;
			transition: all ease 0.3s;
			z-index: 10;	
			.price-formater {
				padding-bottom: 2px;
			}	
			.risk-checkbox__decrease-coverage,
			.risk-checkbox__increase-coverage {
				&::before,
				&::after {
					opacity: 1;
					transition: opacity ease 1s;	
				}
			}		
		}
	}
	&__decrease-coverage {
		position: relative;
		width: 16px;
		height: 16px;
		&::after {
			position: absolute;
			content: '';
			top: 7px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $white;
			opacity: 0;
			transition: all ease 0s;
		}
	}
	&__increase-coverage {
		position: relative;
		width: 16px;
		height: 16px;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 7px;
			width: 2px;
			height: 100%;
			background-color: $white;
			opacity: 0;
			transition: all ease 0s;
		}
		&::after {
			position: absolute;
			content: '';
			top: 7px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: $white;
			opacity: 0;
			transition: all ease 0s;
		}
	}
}

.risk-checkbox--checked {
	//padding: 16px 23px 17px;
	background-color: $blue;
	border-color: $blue;
	box-shadow: 0 5px 10px 0 rgba(0,132,251,0.3);

	.risk-checkbox__heading {
		// font-size: 14px;
		// line-height: 18px;
		// font-size: 16px;
		// line-height: 20px;
		color: $white;
	}
	.tooltip__icon {
		color: $white;
		border-color: $white;
	}
	
	// .price-formater__whole,
	// .price-formater__currency {
	// 	color: #FFFFFF;
	// 	font-size: 20px;
	// 	font-weight: 400;
	// 	line-height: 24px;
	// }
}

.risk-checkbox--checked.risk-checkbox--with-sum {
	.risk-checkbox__heading {
		font-size: 14px;
		line-height: 18px;
	}
}

// .risk-checkbox--with-sum {
// 	.risk-checkbox__coverage {
// 		display: flex;
// 		align-items: baseline;
// 	}	
// }