@import '~styles/_variables.scss';

.range-input {
    display: inline-block;

    &__value {
        display: inline-block;
        text-align: center;
        font-weight: 700;
        line-height: 28px;
    }

    &__button {
        display: inline-block;
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
        color: $white;
    }
}