@import '~styles/variables';

.question {    
    width: 1170px;
    max-height: 68px;
    overflow: hidden;
   

    &:hover + .question {
        .question__head {
            border-top: 1px solid transparent;
        }
    }

    &:hover {
        position: relative;
        box-shadow: 0 9px 9px 0 rgba(54,57,60,0.1);
    }
    
    &__head {        
        display: flex;
        align-items: center;
        width: 100%;
        height: 68px;
        padding: 23px 70px 23px 24px;
        background-color: #FFFFFF;        
        cursor: pointer;
        transition: all ease 0.2s;

        .icon-tooltip {
            margin-right: 26px;
            font-size: 20px;
            color: $dark;
        }

        &:hover {            
            box-shadow: 0 9px 9px 0 rgba(54,57,60,0.1);
            .icon-tooltip ,
            .question__question {
                color: $blue;
            }
        }
    }
    &__question {
        color: $black;
        font-size: 16px;
        line-height: 22px;
    }
    &__answer {
        width: 1030px;
        margin: 0 auto;
        padding: 21px 0 24px 0;
        color: $black;
        font-size: 16px;
        line-height: 24px;
        opacity: 0;
        transition: 0.5s;
    }

    &:nth-child(n + 2) {
        .question__head {
            border-top: 1px solid rgba(54,57,60,0.15);
        }
    }
    &:last-child {
        .question__head {
            border-bottom: 1px solid rgba(54,57,60,0.15);
        } 

        &:hover {
            .question__head {
                border-bottom: 1px solid transparent;
            }
        }               
    }
    &:last-child.question--active {
        .question__head {
            border-bottom: 1px solid transparent;
        }         
    }

    &--active {
        max-height: 100%;
        overflow: visible;

        &:hover + .question {
            .question__head {
                border-top: 1px solid rgba(54,57,60,0.15);
            }
        }

        &:hover {
            box-shadow: none;
        }        

        .question__head {
            border-bottom: none;
            box-shadow: 0 9px 9px 0 rgba(54,57,60,0.1);
        }
        .icon-tooltip {
            color: $blue;
        }
        .question__question {
            font-weight: 600;
            color: $blue;
        }
        .question__answer {
            opacity: 1;
        }
    }
}